.header-img {
  /* background-image: url("../images/AI-3.jpg"); */
  background-image: url("../images/background/about-us.jpg");
}

.about-vision {
  background-color: #f3f7fa;
  line-height: 1.7;
}
.mission-icon,
.vision-icon {
  /* border: 1px solid #ffab8c; */
  background: #fff;
}
.how-we-do .card {
  border: none;
}

.we-do-card {
  border-radius: 8px;
  /* padding: 0 !important; */
}
.we-do-card .icon {
  height: 100px; 
  background-image:linear-gradient(277deg,hsla(0,0%,83.5%,.02),hsla(0,0%,83.5%,.02) 50%,rgba(42,42,42,.02) 0,rgba(42,42,42,.02)),linear-gradient(295deg,rgba(73,73,73,.03),rgba(73,73,73,.03) 50%,hsla(0,0%,89.8%,.03) 0,hsla(0,0%,89.8%,.03)),linear-gradient(145deg,rgba(77,77,77,.01),rgba(77,77,77,.01) 50%,hsla(0,0%,48.2%,.01) 0,hsla(0,0%,48.2%,.01)),linear-gradient(54deg,rgba(51,51,51,.03),rgba(51,51,51,.03) 50%,rgba(29,29,29,.03) 0,rgba(29,29,29,.03)),linear-gradient(170deg,rgba(9,9,9,.02),rgba(9,9,9,.02) 50%,hsla(0,0%,95.3%,.02) 0,hsla(0,0%,95.3%,.02)),linear-gradient(264deg,hsla(0,0%,83.9%,.01),hsla(0,0%,83.9%,.01) 50%,hsla(0,0%,60%,.01) 0,hsla(0,0%,60%,.01)),linear-gradient(90deg,#6330de,#4c69e9);
  margin: 0 auto;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
.we-do-card .icon:before {
  position: absolute;
  content: "";
  color: #fff;
  font-size: 1.5rem;
  left: 10px;
  bottom: 5px;
}
.we-do-card .icon-1:before {
  content: "01" !important;
}
.we-do-card .icon-2:before {
  content: "02" !important;
}
.we-do-card .icon-3:before {
  content: "03" !important;
}
.we-do-card .icon-4:before {
  content: "04" !important;
}
.we-do-card .icon-5:before {
  content: "05" !important;
}
.we-do-card .icon-6:before {
  content: "06" !important;
}
.we-do-card .content {
  text-align: center;
  /* height: 80px;    */
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #7918f2;
  border-top: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.we-do-card .title-2 {
  font-size: 18px !important;
  margin: 0 !important;
}

/* we are great at section */
.great-at-section {
  background-color: #f3f7fa;
}
.great-at-cards .card {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent;
}
.great-at-cards .card-body {
  margin: 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(0, 123, 255, 0.3);
}

/* 
==== Core Team ====
 */
.team-card {
  margin: 0px !important;
  padding: 0px !important;
  border: none !important;
}
.team-card .card-body {
  background-color: #f3f7fa;
  margin: 0.8rem;
  border-radius: 0.6rem;
}
.team-card .social-network {
  padding: 0 !important;
}
.team-card .social-network .fab {
  border-radius: 10px !important;
  font-weight: 400;
  height: 35px;
  width: 35px;
  text-align: center;
  border: 2px solid #e2e9ef;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a354f;
}
.team-card .social-network .fab:hover {
  color: #ffffff;
  background-color: #2a354f;
  border: 2px solid #2a354f;
  transform: scale(1.1);
}
.team-card img {
  width: 80px;
  height: 80px;
}

.team-card .social-network li {
  list-style-type: none;
}

.team-card .social-network a:hover {
  text-decoration: none;
}
.contact-banner a {
  padding: 0.6rem 2rem;
  margin-top: 10px;
  border-color: #007bff;
  color: #007bff;
  font-weight: 700;
  font-size: 1.2rem;
}
.contact-banner a:hover {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}
#footer {
  margin-top: 0 !important;
}

@media (max-width: 575.98px) {
  .mission,
  .vision {
    /* text-align: center; */
    justify-content: center;
    margin: 0px;
  }
  .mission-icon,
  .vision-icon {
    background-color: transparent;
  }
  .mission-text,
  .vision-text {
    display: block;
  }
  .team-card {
    padding-left: 15px;
    padding-right: 15px;
  }
}
