.header-img {
  /* background-image: url("../images/AI-3.jpg"); */
  background-image: url("../images/about.jpg");
}
.about-sec-wrap {
  padding: 3rem 0;
  min-height: 60vh;
}
.about-intro {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  position: relative;
}
.about-vision {
  background-color: #f3f7fa;
}

.we-do-card {
  width: 200px;  
  margin: 1rem auto;
  border-radius: 8px;
}
.we-do-card .icon {
  height: 100px;   
  /* background-image: linear-gradient(-225deg, #2CD8D5 0%, #6B8DD6 48%, #8E37D7 100%); */
  /* background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%); */
  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
  margin: 0 auto;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
.we-do-card .icon:before{
position: absolute;
content: "";
color:#fff;
font-size: 1.5rem;
left:10px;
bottom: 5px;
}
.icon-1:before{
  content: "01"!important;
}
.icon-2:before{
  content: "02"!important;
}
.icon-3:before{
  content: "03"!important;
}
.icon-4:before{
  content: "04"!important;
}
.icon-5:before{
  content: "05"!important;
}
.icon-6:before{
  content: "06"!important;
}
.we-do-card .content {
  text-align: center;
  height: 80px;   
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #7918F2;
  border-top: transparent;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.we-do-card .title-2 {
  font-size: 17px !important;
  margin: 0 !important;
}

.about-great-at {
  background-color: rgba(0, 0, 0, 0.06);
}
.great-at-card{
  /* box-shadow: 0 0.5rem 1.825rem -0.275rem #ffffff,0 0 4px 1px #ffffff; */
  border-radius: 8px;
  background-color: #ffffff;
  flex: 0 0 20% !important;
  /* border: 2px solid #ffffff; */
}

/* 
==== Core Team ====
 */
 .team-card{
    flex: 0 0 23% !important;
    margin: 5px 13px;
    background-color: rgba(243, 247, 250,0.6);
    background-color: #e6f4f1;
 }
 .team-card .social-network{
   padding: 0 !important;
 }
 .team-card .social-network .fab{
   border-radius: 10px !important;
   border: 2px solid rgba(68, 70, 85,0.3) !important;
 }
 .team-card .social-network .fab:hover{
   background-color: #444655;
  color: #ffffff;
 }
 .team-card img{
width: 80px;
height: 80px;
 }
.contact-banner {
  background-color: rgba(0, 0, 0, 0.06);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
#footer {
  margin-top: 0 !important;
}

/*  new footer */
.new-footer{
  text-align: center;  
}
.f-logo{
  align-self:center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.f-logo img{
  max-width: 150px;
}
.new-footer .f-title{
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;   
}
.new-footer .social-network .fab{
  line-height: 2.4;
}
.new-footer a,.new-footer p{
  color: rgba(255, 255, 255,0.65);  
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 6px;
}
.explore {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
}
.contact{
  margin-left: 30px;
}

.footer-row-2 a{
 font-size: 11px !important;
}