.header-img {   
  background-image: url("../images/bg_header/about_us.jpg");
} 
.about-vision {
  background-color: #f3f7fa;
  line-height: 1.7;
}
.mission-icon,
.vission-icon {
  box-shadow:inset 0 0 0 1px hsl(16, 100%, 70%);
  background: #fff;
}
.mission-icon svg,.vission-icon svg{
  fill: #ff4500;
  transition: all .5s ease-in-out;
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
}
 .mission:hover .mission-icon,.vission:hover .vission-icon{   
  box-shadow: inset 0 0 0 70px #ff4500;
  transition: all .5s ease-in-out;
}
 
.mission:hover .mission-icon svg, .vission:hover .vission-icon svg{
    fill: #ffffff; 
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.how-we-do .card {
  border: none;
}

.we-do-card {
  border-radius: 8px;
  border: 1px solid hsl(211, 100%, 90%);
  margin-top: 1.2rem !important;
}
.we-do-card .icon {
  height: 100px;     
  margin: 0 auto;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
.we-do-card .icon:before {
  position: absolute;
  content: "";
  color: #3396ff;
  font-size: 1.6rem;
  left: 10px;
  top: 5px;
}
.we-do-card .icon-1:before {
  content: "01" !important;
}
.we-do-card .icon-2:before {
  content: "02" !important;
}
.we-do-card .icon-3:before {
  content: "03" !important;
}
.we-do-card .icon-4:before {
  content: "04" !important;
}
.we-do-card .icon-5:before {
  content: "05" !important;
}
.we-do-card .icon-6:before {
  content: "06" !important;
}
.we-do-card .content {
  text-align: center;   
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
   }
.we-do-card .title-2 {
  font-size: 18px !important;
  margin: 0 !important;
}

/* we are great at section */
.great-at-section {
  background-color: #f3f7fa;
}
.great-at-cards .card {
  border: none;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent;
}
.great-at-cards .card-body {
  margin: 0.8rem;
  border-radius: 0.6rem;
  border: 1px solid rgba(0, 123, 255, 0.3);
}
 
 
#footer {
  margin-top: 0 !important;
}

@media (max-width: 575.98px) {
  .mission,
  .vision {
    /* text-align: center; */
    justify-content: center;
    margin: 0px;
  }
  .mission-icon,
  .vision-icon {
    background-color: transparent;
  }
  .mission-text,
  .vision-text {
    display: block;
  }  
}
 
 

