
/* Header */
.header-img{    
    background-image:url("../images/artificial-intelligence-header.jpg");  
}
.service .card-1 .card-icon{
    background: rgba(108, 117, 125, 1);
}
.service .card-3 .card-icon{
    background: rgba(0, 123, 255, 0.25);
}
.service .card-2 .card-icon{
background: rgba(88, 177, 159,1.0);
}