
/* Header */
.header-img{    
    background-image:url("../images/big-data-header.jpg");   
}
.service .card-3 .card-icon{
    background: #EAB543;
}
.service .card-1 .card-icon{
    background: #2980b9;
}
.service .card-2 .card-icon{
background: #2ecc71;
}