
/* Header */
.header-img{    
    background-image:url("../images/bitcoin.jpg");
    background-position: bottom !important;     
}
.service .card-3 .card-icon{
    background: #EAB543;
}
.service .card-1 .card-icon{
    background: #2980b9;
}
.service .card-2 .card-icon{
background: #2ecc71;
}
/* Header End */
 