.header-img{
  background-image: url("../images/careerpage-img.jpg");
  background-position: center;
}
 /* loading indicator for open jobs */
.loading{
  z-index: 9999;
  width: 100%;
	height: 100px;
  background: url('../images/loading.gif') center no-repeat #fff;
  background-color: transparent;
}
.work-with-card .card-body{
  margin: 0.4rem;
  /* background-color: #f3f7fa; */
  border: 1px solid rgba(0, 123, 255,0.2);
  border-radius: 0.8rem;
}
.work-with-card .icon{
  text-align: center;
}
.openings-wrap{
  background-color: #f3f7fa;
}
.job-item{
  background-color: #fafafa;
  border: 1px solid rgba(0, 106, 255,0.2);
  border-radius: 0.5rem;
  margin: 0.3rem 0.1rem;
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),
  0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
}
.job-item p{
  margin: 0;
  font-weight: 500;
  color: #444;
}
.job-item:hover{
  transition: background 0.15s ease-in;
  text-decoration: none;
  /* background-color: rgba(243, 247, 250,0.3); */
  border: 1px solid #222da5; 
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1) !important;   
}
.job-item .title-2{
  font-size: 16px !important;
  color: #222da5;
  text-transform: capitalize;
}
@media (max-width: 575.98px) { 
   .job-item{
     flex-direction: column !important;
     padding: 1rem !important;
   }
   .job-item p{
     margin-left: 14px;
   }
 }