.header-img{
  background-image: url("../images/careerpage-img.jpg");
  background-position: center;
}
.collapsed{
  border-left:4px solid #f07c52 !important;
}
.openings-count{
    font-size: 0.8rem;     
    padding: 8px 14px;
    border-radius:1rem;
     color:#222 !important;            
      background-color: rgba(0, 106, 255,0.5);
     font-weight: 700;
}
.card-title{
  color: #006aff;
} 
.card-title .fa-angle-down{
  font-weight: 700;
  font-size: 1.5rem;
}
.accordion > .card:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion > .card {
  overflow: hidden;
}
.card {
  transition: all 0.2s ease-in-out;
}
.card a{
    text-decoration: none;     
}
.card .fa-long-arrow-alt-right{
  color: rgba(0, 106, 255,0.9) !important;
}
.accordion .card .card-header {
  background-color: #fff;
  border: 0;
  border-radius: 0.5rem !important;
}
.accordion > .card .card-header {
  margin-bottom: -1px;
}
/* .accordion .card .card-header a .rotate-icon {
  line-height: 1.25;
  transition: transform 0.2s ease-in-out;
} */
.card-title a:focus,
.card-title a:hover {
  color: #006aff;
  cursor: pointer;
}
/* .accordion .card .card-header a:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
} */
.spinEffect{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.accordion > .card:hover{
  cursor: pointer;
}

