.header-img{
    background-image:url("../images/contactus.jpg");
}
.contact-intro{
    background-color: #6f42c1;
    margin-bottom: 3rem;
    min-height:350px;             
    color: #F9FBFD;  
}
 
.contact-info .fa-map-marker{
    background:linear-gradient(145deg, hsl(213, 60%, 64%), #3498db);
    color: #fff
}
.contact-info .fa-envelope{
    background:linear-gradient(145deg, #d396f7, #9b59b6);
    color: #fff
}
.contact-info .fa-phone{
    background:linear-gradient(145deg,rgb(171, 216, 134), #2ecc71);
    color: #fff
  
}
.contact-info .fa-clock{
    background:linear-gradient(145deg, #e0b861,#e67e22);
    color: #fff
}
.contact-info .fa{
    /* background: rgb(235, 195, 19);
    color: #fff; */
    font-size: 20px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    line-height: 2.5;
    box-shadow: 0px 10px 13px -7px black;
    margin-bottom: 20px;
}
.contact-info .fa:hover{
   position: relative;
   transform: translateY(-6px);
   transition: all 0.1s ease-in-out;
}
    
.info{
    color: #fff;
    background: linear-gradient(145deg, #499aff, #0956b4);
    position: relative;
    transform: translateY(-50%);    
    z-index: 99;
    padding: 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #0956b496;
}
.info-btn{
    min-height: 50px;
    color: #fff;
    background: linear-gradient(145deg, #499aff, #0956b4);
    position: relative;
    top: 10px;
    padding: 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #0956b496;
}
.form-group input{
    border: none;
    outline: none;
    padding: 20px;
    font-size: 14px;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    outline: none !important;
}
.form-group input:focus{
    border: none;
    outline: none;
}
.getintouch-form{
    background: #fff;
    box-shadow: 0px 0px 8px -5px;
}
/* .contact-info .col{
    text-align: center;
} */

.description .socialIcons .fa{
    color: #fff !important;
    font-size: 1.6rem;
}
.socialIcons {
    list-style-type: none;
}
