
/* Header */
.Header-img{    
    background-image:url("../docs/digital-marketting2.jpg");
    background-attachment:scroll;
    background-repeat:no-repeat;
    background-size:cover;
    height:300px;
    padding: 90px;
    background-position: 0 -300px;
}
/* Header End */
/* Content-section */

.service-offering{    
    background-image:url("../docs/digital-marketting.jpg");
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    height:600px;
    padding: 90px;
}
.overlay{
  position: relative;
}
.overlay::before{
  position:absolute;
  content:"";
  top:0;
 bottom:0;
 left:0;
 width:100%;
background-color: rgba(0, 0, 0, 0.692);
}
/*Content-Section End*/
/* .service-offering */
.service p{
    width: 50px;
    height: 50px;
    align-items: center;
}
/* .service-offering End */

/*sections*/

.sec img{
    height: 300px;
    width: 500px;
}
.sec{
    margin-top: 10px;
   align-items: center;
   justify-content:space-around;
}
/*sections End*/

