/* 
 ==== HOME PAGE STYLES ====
 */
 :root{
   --indicator-position:0%;
 }
 body{
  scroll-behavior: smooth;
 }

 /* scroll progress indicator */
 .progress {
  background: linear-gradient(to right, #007bff var(--scroll), transparent 0);
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  top: 0;
  height: 3px;
  z-index: 1100;
}
 
 
/*
HOME - CAROUSEL 
*/  
.home-cover,.carousel{
  overflow: hidden;
}
#homeCarousel  .carousel-inner{
  max-height: 100vh !important;
}
#homeCarousel  .carousel-item{  
  /* background-color: rgba(0, 123, 255,0.6);  */
  text-align: left;   
  background-color: #222da5;  
}

#homeCarousel .custom-indicator{
  border-top: 1px solid rgba(170, 221, 255,0.5);   
}
#homeCarousel .custom-indicator::before{
position: absolute;
content: '';
height: 4px;
width:25%;
background-color: #9dd1ff;
left: var(--indicator-position);
top: -2px;
transition:all 0.3s ease;
}

#homeCarousel .custom-indicator li { 
  width: 100% !important;
  height: auto !important;
  text-indent:0px !important;
  background-color: transparent;
  color:rgba(236, 249, 254,0.6);
  text-align: center;
  font-size: 1.2rem;
  margin: 0 !important;         
  padding-top: 10px;         
  border-top: 4px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;      
} 
 
#homeCarousel .custom-indicator .active {
  color: #fff;   
} 
#homeCarousel .custom-indicator li:hover {
  color: #fff;
}
#homeCarousel .custom-indicator .active:before {
  position: absolute;
  content: '';
  width: 25%;
  top: -6px;
  left: 0;
  height: 4px;
  background-color: #f51714 !important;
  animation:forwardin 5s linear;
  -webkit-animation:forwardin 5s linear;
}
  @keyframes forwardin {
0%{
width: 0%;
}
100%{
width: 100%;
}
}

#homeCarousel .carousel-item img{
transition: all 6s linear;
mix-blend-mode: soft-light;
}
/* ken burn effect */
 
#homeCarousel .carousel-inner .active img {
  transition: all 6s linear;
  animation: zoom 6s linear;
  -webkit-animation: zoom 6s linear;
}
@keyframes zoom{
  from{
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
to{
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
}
#homeCarousel .carousel-caption{
   top: 25%;
   animation:caption-move-right 1.5s ease;
   -webkit-animation:caption-move-right 1.5s ease;
}
@keyframes caption-move-right{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  65%{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
}
  100%{
    transform: translateX(0px);
  }
}
#homeCarousel .carousel-caption h5{
font-size: 3.2rem;
text-shadow: 1px 2px rgba(245, 23, 20,0.8);   
left: 10%;
right: 10%;
}

#homeCarousel .carousel-indicators li,.industry-carousel .carousel-indicators li{
  opacity: 1 !important;
}
 /* 
 END - HOME CAROUSEL
 */
  

/* 
  ==== WELCOME SECTION
*/
.welcome-wrap {   
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome-icon{
   height: 70px;
   width: 70px;    
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
   background-color:hsl(1, 92%, 97%);
   margin: 0 auto;
}
.welcome-card{
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
 
.welcome-card-body{
  border-radius:0.8rem !important;
  padding: 0.6rem;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.welcome-card img {
  max-width: 50px;
}
.welcome-card:hover .welcome-card-body{    
   transition: all 0.2s ease-in;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   transform: translateY(-6px);
   -webkit-transform: translateY(-6px);
   -moz-transform: translateY(-6px);
   -ms-transform: translateY(-6px);
   -o-transform: translateY(-6px);
}
.welcome-card-body .title-3{
  color: hsl(232, 72%, 46%);
}
.welcome-card .welcome-icon{
  margin-bottom: 0;
}
.welcome-card .welcome-title .title-2{
  margin-top: 12px;
}
/* 
  ==== END - WELCOME SECTION
  */
 .automation .caption{
   color: #f51714;
 }
 .automation .img-box{
  display: flex;
  align-items: center;
 }
 .automation img{
   max-width: 100%;
 }

/* 
==== SERVICES ====
*/
.services-wrapper{
background-color: #f8f9ff;
padding: 2rem; 
/* background-color: hsl(224, 68%, 45%);  */
background: linear-gradient(#222da5,#222da5);
position: relative;
}
.service-inner{
  background-color: #ffffff;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.03),
  0 0.275rem 1.25rem -0.0625rem rgba(0, 0, 0, 0.05);
}
.shape{
  position: absolute;
  height: 25px;  
  min-width: 40px;   
  display: inline-block;
   
}
.shape-1{
  left: 13px;
  top: 80px;
  background: #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; 
}
.shape-2{
 /* background-color: hsl(224, 68%, 45%); */
 background: linear-gradient(#222da5,#222da5);
  left: 25px; 
   top: 105px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; 
}
.shape-3{
  left: 4px;
  top: 130px;
  background: #ffffff;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; 
}
.shape-4{
  right: 18px;
  bottom: 80px;
  background: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; 
}
.shape-5{
 /* background-color: hsl(224, 68%, 45%); */
 background: linear-gradient(#222da5,#222da5);
  right: 32px; 
   bottom: 105px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; 
}
.shape-6{
  right: 6px;
  bottom: 130px;
  background: #ffffff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px; 
}
 
.services .card{
  border: none;
  background-color: #f8f9ff;   
}
.services .service {
  padding:0.8rem;
  margin:1rem 0.1rem;
  background-color: #fff !important;
  border-radius: 8px;
  transition: all 0.5s ease-in;
  border: 1px solid #d8edff;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.services .card:hover .service{
  transition: all 0.3s linear;
  transform: translateY(-8px);   
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  box-shadow: 0 0.125rem 0.3rem -0.0625rem hsl(235, 66%, 89%),
  0 0.275rem 0.75rem -0.0625rem hsl(235, 66%, 89%) !important;   
}

.service .title-2{
  font-size: 19px !important;
}
.service .title-3{
  color:#222da5;
  margin-top: 5px;
}
.services .service .service-icon{     
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color:transparent;     
    height: 70px;
    width: 70px;
    padding: 12px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    box-shadow: inset 0 0 0 1px rgba(34, 45, 165,0.2);
}
.services .service:hover .service-icon{   
    box-shadow: inset 0 0 0 70px #222da5;
    transition: all .5s ease-in-out;
}
.services .service .service-icon svg{
  fill: #222da5;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
}
.services .service:hover .service-icon svg{
      fill: #ffffff;
      height: 70px;
      width: 70px;
      transition: all .5s ease-in-out;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
  }
.service-text{
  min-height: 120px;
  margin-bottom:0 ;
}
.service .btn-breach{
  border-color:transparent;
}
.service:hover .btn-breach{
  border-color: #2138c9;
} 
/* 
==== END - SERVICES ====
*/

/*  */
.industries{
  background-color: rgb(243, 245, 249);
}
.industries .card{
  border: none;
  background-color: transparent;
}
.industries .card .card-body{
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  border: 1px solid transparent;
}
.industries .title-3{
  color: #2e5bd7;
}
.industries .industry-title{
  /* color: #2e5bd7; */
  font-weight: 400;
  text-align: left !important;
  line-height: 1.5;
}
.industries .industry-link{
   font-size: 1.2rem;
   margin-top: 0.8rem;
   text-decoration: none;
   color: #f51714;
    display: flex;
    justify-content: center;
    align-items: center;
}
.industries .industry-link:hover{
  color: hsl(1, 92%, 42%);
  text-decoration: underline;
  padding-bottom:5px ;   
} 
.industries .card {
  border: none;
  background-color: transparent;   
}
 
.industries .card .industry-icon svg{
  height: 60px;
  width: 60px;
}
/*  */

/* 
==== OUR PROJECTS ====
*/
 .our-projects{
   padding-top: 3rem;
   background-color: #f8f9ff;
 }
.our-projects .item {
  height: 90vh;
  position: relative;         
}
.our-projects .item-1 {
  background-color: #2e5bd7;  
}
.our-projects .item-2 {
  background-color: #00acee;   
}
.our-projects .item-3 {
  background-color: #796eff;
}
 
.our-projects .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
}
.our-projects .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}
.our-projects .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}
.our-projects .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
.our-projects .item .cover .header-content h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}
.our-projects .item .cover .header-content h4 {
  font-size: 25px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
.our-projects .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.our-projects .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  animation-delay: 0.3s;
}
.our-projects .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  animation-delay: 0.3s;
}
.our-projects .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  animation-delay: 0.3s;
}
.our-projects .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
.our-projects .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}
.our-projects .owl-nav .owl-prev:focus {
  outline: 0;
}
.our-projects .owl-nav .owl-prev:hover {
  background: #000 !important;
}
.our-projects .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}
.our-projects .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}
.our-projects .owl-nav .owl-next:focus {
  outline: 0;
}
.our-projects .owl-nav .owl-next:hover {
  background: #000 !important;
}
.our-projects:hover .owl-prev {
  left: 0px;
  opacity: 1;
}
.our-projects:hover .owl-next {
  right: 0px;
  opacity: 1;
}

/* 
==== END - OUR PROJECTS ====
*/
 

/* 
==== STATS =====
*/
.stats-container{  
  background-color: #f6f9fc;
}
/* END - STATS  */
 
.company-numbers,.company-numbers .card{
  background-color: #0044bc;
  border: none;
  text-align: center;  
}
.company-numbers .card .stats-title{
  font-size: 2rem;
  color: #fafafa;
  font-weight: 800;
}
.company-numbers .card .stats-caption {
  color: #cee8e6;
  font-size: 1.2rem;
  align-items: center;
  font-weight: 800;
}
 
.stats-counter .stats-icon{
  /* border: 2px solid red; */
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;  
  box-shadow: 0 0.5em 0.5em -0.4em #796eff;
  border: 1px solid  hsl(245, 100%, 93%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.stats-counter .title-2{
  margin-top: 1.5rem;
  margin-left: 0.5rem;
  font-size: 2rem !important;
  color: #222da5;
}
 
/* 
==== CLIENT LOGOS ====
*/
 
.client{
  padding:1rem 3rem;
  border-radius: 0.3rem;
  margin: 1rem !important;
  max-width: 300px;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  /* background-color:#f3f7fa; */
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 123, 255,0.3);
  /* margin: 0 auto;  */
  transition: border 1s linear;
}
.our-clients img{     
  width: 100%;   
}
.our-clients .owl-item.center .client{
  border: 1px solid rgba(0, 123, 255,1);
  transition: border 1s linear;
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),
    0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
}

/*our clients new */
.clients-outer img{
max-width: 160px;
height: 45px;
}
.clients-outer .card{
  padding:3rem 2rem;
  margin-top: 30px;
  border-color: hsl(232, 72%, 90%);
}
.clients-outer .card .card-body{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
==== END - CLIENT LOGOS ====
*/
.contact-banner{
  background-color: #ebf6ff;
  box-shadow:-5px 5px 30px #b4b8cd;
  border-radius:0.5rem ;
  -webkit-border-radius:0.5rem ;
  -moz-border-radius:0.5rem ;
  -ms-border-radius:0.5rem ;
  -o-border-radius:0.5rem ;
  box-shadow:0 25px 20px -20px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.06);
}

.contact-banner .title-2{
  font-weight: 500 !important;
  font-size: 1.5rem !important;
  line-height: 1.4;
}
.contact-banner .text-1{
  color: #f51714;
}
.contact-banner a{
  padding: 0.6rem 2rem;     
  color: #ffffff;      
}
 

@media (max-width: 575.98px) { 
  #homeCarousel .carousel-caption h5{
    font-size: 1.2rem;      
    }
    #homeCarousel .carousel-item, #homeCarousel img{
      height: 60vh;
    }
  .home-cover{
    height: 60vh;
  }
.home-content{
  padding-left: 0 !important;
  margin-top: 1rem !important;
}
.home-content .home-title{
  font-size: 2rem !important;
  margin-left: 0 !important;
}
.home-content .home-caption{
  font-size: 1.2rem !important;
  margin-left: 0 !important;
}
  .customize{
    display: none;
  }
  .contact-inner{
    flex-direction: column;
  }
  .core-values .text-3{
    font-size: 14px !important;
  }
  .client-details{
    flex-direction: column;
  }
  .client-details p, .client-details ul{
    margin: 0;
    padding:0;
  }
  .our-projects .item .cover .header-content h2 {
font-size: 16px;
  }
  .our-projects .item .cover .header-content h1 {
font-size: 25px;
  }
  .our-projects .item .cover .header-content h4 {
font-size: 20px;
  }
  .our-projects .item .cover .header-content {
    padding: 20px;
  }

  /* industries section */
  .industry .card-body {  
    padding: 0.2rem;
    margin: 0.2rem;
    border-radius: 0;
  }
  .industry-carousel svg{
    height: 40px;
  }
  .industry-carousel .carousel-indicators .card-body{
    padding: .3rem !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .industry-carousel li{
    padding: 0;
    display: flex;
  }
  .industry-carousel .carousel-indicators .active .card:after{
    display:none;
  }
  .carousel-indicators .card-body p{
    margin-bottom: 0;
  }
}

@media (max-width: 992px) {
  #homeCarousel .carousel-caption h5{
    font-size: 1.5rem;      
    }
}