/* 
 ==== HOME PAGE STYLES ====
 */
 :root{
   --indicator-position:0%;
 }
 body{
  scroll-behavior: smooth;
 }
 
/*
HOME - CAROUSEL 
*/  

/* ------ */
.home-slide-1{
background-color: #004d80;
}
.home-slide-2{
  background-color:#90A959;   
}
.home-slide-3{
  background-color: #1F7A8C;
}
.home-slide-4{  
  background-color:hsl(36, 61%, 54%); 
}

.home-slide-1 .slide-image:before{  
  background-color: hsl(204, 100%, 20%);
}
.home-slide-2 .slide-image:before{
  
  background-color:hsl(79, 32%, 41%);
  
}
.home-slide-3 .slide-image:before{
   
  background-color: hsl(190, 64%, 24%);
}
.home-slide-4 .slide-image:before{
  background-color:hsl(36, 61%, 40%);  
}
.item .row{
  height: 75vh;   
  margin-top: 73px;
  display: flex;
  justify-content: center;   
}
.slide-content{
  display: flex;
  align-items: center;
}
.slide-caption h3{
  color: #ffffff;
}
.slide-caption{
  color: #f4f4f4;
  margin-left:1rem;
  font-size: 2.2rem !important;  
} 
.slide-title{
  font-size: 3.2rem;
}
.slide-image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.slide-image:before{
  position: absolute;
  content: '';
  width: 60%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: -20px;   
  background-color:hsl(215, 27%, 57%);
  border-radius:100% 0% 49% 51% / 0% 100% 0% 100%  ;
  -webkit-border-radius:100% 0% 49% 51% / 0% 100% 0% 100%  ;
  -moz-border-radius:100% 0% 49% 51% / 0% 100% 0% 100%  ;
  -ms-border-radius:100% 0% 49% 51% / 0% 100% 0% 100%  ;
  -o-border-radius:100% 0% 49% 51% / 0% 100% 0% 100%  ;
  z-index: -1;
  background-color: #577399;
}
.slide-image img{
  width: 60%;
  z-index: 999;
  margin: 0 auto;
} 
/* --------- */
.home-cover,.carousel{
  overflow: hidden;
}
#homeCarousel  .carousel-inner{
  max-height: 100vh !important;
}
#homeCarousel  .carousel-item{  
  text-align: left;      
  height: 100vh;
}

#homeCarousel .custom-indicator{
  border-top: 1px solid rgba(170, 221, 255,0.5);   
}
#homeCarousel .custom-indicator::before{
position: absolute;
content: '';
height: 4px;
width:25%;
background-color: #9dd1ff;
left: var(--indicator-position);
top: -2px;
transition:all 0.3s ease;
}

#homeCarousel .custom-indicator li { 
  width: 100% !important;
  height: auto !important;
  text-indent:0px !important;
  background-color: transparent;
  color:rgba(236, 249, 254,0.6);
  text-align: center;
  font-size: 1.2rem;
  margin: 0 !important;         
  padding-top: 10px;         
  border-top: 4px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;      
} 
 
#homeCarousel .custom-indicator .active {
  color: #fff;   
} 
#homeCarousel .custom-indicator li:hover {
  color: #fff;
}
#homeCarousel .custom-indicator .active:before {
  position: absolute;
  content: '';
  width: 25%;
  top: -6px;
  left: 0;
  height: 4px;
  background-color: hsl(204, 100%, 20%) !important;
  animation:forwardin 5s ease-in-out;
  -webkit-animation:forwardin 5s ease-in-out;
} 
@keyframes forwardin {
0%{
width: 0%;
}
100%{
width: 100%;
}
}
#homeCarousel .indicator-1.active:before{
  background-color:hsl(204, 100%, 20%) !important;
}
#homeCarousel .indicator-2.active:before{
  background-color:hsl(79, 32%, 35%) !important;
}
#homeCarousel .indicator-3.active:before{
  background-color:hsl(190, 64%, 24%) !important;
}
#homeCarousel .indicator-4.active:before{
  background-color:hsl(36, 61%, 40%) !important;
}  
#homeCarousel .carousel-indicators li,.industry-carousel .carousel-indicators li{
  opacity: 1 !important;
}
 /* === END - HOME CAROUSEL === */
  

/* === WELCOME SECTION === */
.welcome-wrap {   
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.welcome-icon{
   height: 70px;
   width: 70px;    
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;     
   margin: 0 auto;
}
.welcome-card{
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}
 
.welcome-card-body{
  border-radius:0.8rem !important;
  padding: 0.6rem;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.welcome-card img {
  max-width: 70px;
}
.welcome-card .icon-3{
  max-width: 58px;
}
.welcome-card:hover .welcome-card-body{    
   transition: all 0.2s ease-in;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   transform: translateY(-6px);
   -webkit-transform: translateY(-6px);
   -moz-transform: translateY(-6px);
   -ms-transform: translateY(-6px);
   -o-transform: translateY(-6px);
} 
.welcome-card .welcome-title .title-2{
  margin-top: 12px;
}
/* === END - WELCOME SECTION === */
 .automation .caption{
   color: #ff4500;
 }
 .automation .img-box{
  display: flex;
  align-items: center;
 }
 .automation img{
width: 100%;
max-width: 400px;
 }
 
/* ==== SERVICES ==== */
.services-wrapper{ 
padding-top: 3rem;  
padding-bottom: 3rem;  
background-color: hsl(211, 100%, 98.5%);
 
} 
.services .card{
  border: none;   
  background-color: transparent;
}
.services .service {
  padding:0.8rem;
  margin: 0.6rem !important;
  border-radius: 8px;
  transition: all 0.1s ease-in;
  border: 1px solid hsl(211, 100%, 96%);
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
}
 
.service .title-2{
  font-size: 19px !important;
}
 
.services .service .service-icon{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    height: 70px;
    width: 70px;
    padding: 12px;
 
}

.services .service:hover{   
  background-color: #ffffff;
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),
  0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
}

.services .service:hover .service-icon{
    box-shadow: inset 0 0 0 70px hsl(16, 100%, 98%);;
    transition: all .1s ease-in-out;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
}
.services .service .service-icon svg{
  fill: hsl(211, 100%, 60%);
  transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
}
.services .service:hover .service-icon svg{
      fill:#ff4500;
      height: 70px;
      width: 70px;
      transition: all .1s ease-in-out;
      -webkit-transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -ms-transition: all .1s ease-in-out;
      -o-transition: all .1s ease-in-out;
}
.service-text{
  min-height: 120px;
  margin-bottom:0 ;
}
.service .btn-breach{
  border-color:transparent;
  color:hsl(211, 100%, 70%);
}
.service:hover .btn-breach{
  color: hsl(16, 100%, 55%);
  border-color:hsl(16, 100%, 70%);
}

/* ==== END - SERVICES ====*/
 
 /* === INDUSTRIES === */
 .industries{
   background-color: hsl(0, 0%, 97%);
 }
 .industry-cards .card img{
  height: 150px;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out; 
}
.industry-cards .card{
  background: #fff;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;   
  min-width: 18rem;
  max-width: 24rem;
   
}
.industry-cards .card:hover{
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),  0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
 .industry-cards .card:hover .title-3{
   color: #ff4500 !important;
 }
 
 .industry-cards .card .card-head{
   overflow: hidden;
 }
 .industry-cards .card:hover img{
   transform: scale(1.2);
   transition: all 1s ease-in-out;
   -webkit-transform: scale(1.2);
   -moz-transform: scale(1.2);
   -ms-transform: scale(1.2);
   -o-transform: scale(1.2);
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
}

.industry-carousel .owl-nav{
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}
.industry-carousel .owl-nav button{
  outline: none;
}
.industry-carousel .owl-next span,.industry-carousel .owl-prev span{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border:1px solid hsl(16, 100%, 90%);
  margin: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #ff4500;
}
.industry-carousel .owl-next span:hover,.industry-carousel .owl-prev span:hover{
  background-color: #ff4500;
  color: #ffffff;
}
.industry-cards .card-body{  
  border-top-color: transparent;
}
/* .industry-cards .owl-item.center .card-body{
  border:1px solid hsl(16, 100%, 65%);
  border-top-color: transparent;
} */
/* .industry-cards .owl-dot {   
  border: 2px solid hsl(16, 100%, 70%) !important;
  height: 20px;
  width: 20px;
  margin: 5px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.industry-cards .owl-dot.active{
  border-color: #ff4500 !important;
  background-color: #ff4500;
} */
/* 
==== CLIENT LOGOS ====
*/
 
.client{
  padding:2rem 3rem;
  border-radius: 0.3rem;
  margin: 1rem !important;
  max-width: 300px;
  height: 100px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px; 
}
.our-clients img{     
  width: 100%;   
}
.our-clients .owl-item.center .client{     
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),    0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;   
} 
/* 
==== END - CLIENT LOGOS ====
*/


.contact-banner{
  position: relative;
  background-image: url('../images/home/connect.jpg');
  padding: 40px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 1;
}
.contact-banner::before{
  content: '';
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index:-1;
} 
.contact-banner .title-2{
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 2rem !important;
  line-height: 1.4;
}
.contact-banner .text-1{
  color: #ff4500;
  font-size: 2rem;   
}
.contact-banner a{
  padding: 0.6rem 2rem;     
  color: #ffffff;     
}
.contact-banner .btn-outline-primary{
  border-color:#ffffff !important ;
}
.contact-banner .btn-outline-primary:hover{
background-color: #ffffff;
color: #ff4500;
box-shadow: 0 0.5rem 1.125rem -0.5rem #ffffff;
transform: translate(0,-2px);
-webkit-transform: translate(0,-2px);
-moz-transform: translate(0,-2px);
-ms-transform: translate(0,-2px);
-o-transform: translate(0,-2px);
}

@media (max-width: 575.98px) { 
  .industry-carousel .owl-nav{
    margin: 0;
  }
  .industry-carousel .owl-next span,.industry-carousel .owl-prev span{
    height: 35px;
    width: 35px;
    margin: 4px;
  }
  .contact-banner .title-2{
    font-size: 1.3rem !important;
  }
  .slide-title{
    font-size: 1.8rem !important;
  }
  .slide-image{
    max-width: 100% !important;
  }  
  .slide-image:before{
    display: none;
  }
.home-content{
  padding-left: 0 !important;
  margin-top: 1rem !important;
}
.home-content .home-title{
  font-size: 2rem !important;
  margin-left: 0 !important;
}
.home-content .home-caption{
  font-size: 1.2rem !important;
  margin-left: 0 !important;
}
  .customize{
    display: none;
  }   
  .carousel-indicators .card-body p{
    margin-bottom: 0;
  }

  .blockchain-outer{
    display: flex;
  }
 .blockchain-outer .img-box {
 order: 2;
 }
 .blockchain-outer .content-box {
 order: 1;
 }
}

@media (max-width: 992px) {
  #homeCarousel .carousel-caption h5{
    font-size: 1.5rem;      
    }
    .slide-image:before{
      display: none;
    }
}
