.header-img{
    background-image: url("../images/job-application-img.jpg");     
} 
 article li span .fa{
	color: #21c87a;
    /* background: rgba(55, 125, 255, 0.1); */
    border-color: transparent;
    border-radius: 50%;
    margin:0px 5px; 
    font-size: 14px;
    /* padding: 0.5rem !important;    */
} 
.resp li{
    display: flex;
    margin: 8px auto;
}

.resp li span{
    margin-right: 8px;
}

.form-group input{
    border: none;
    /* outline: none; */
    /* padding: 1rem; */
    font-size: 14px;
    border-radius: 0px;          
    padding: 1.4rem !important;
    border-bottom: 1px solid #00b7fa;

       
}
.form-group{
    text-align: left !important;
    margin:1rem;
}
.form-group textarea{
    border: 1px solid #00b7fa;
}
.custom-file input{
border: 1px solid #00b7fa !important;
padding: 1.4rem !important;
}
.form-group input:focus{
    border: none;     
    border-bottom: 2px solid #00b7fa;          
    -webkit-box-shadow: none;
    box-shadow: none;
}
.getintouch-form{
    background: #fff;
    box-shadow: 0px 0px 8px -5px;
}