.header-img{
    background-image: url("../images/job-application-img.jpg");     
} 
 article li span .fa{
	color: #377dff;
    background: rgba(55, 125, 255, 0.1);
    border-color: transparent;
    border-radius: 50%;
    margin:0px 5px; 
    font-size: 14px;   
} 
.resp li{
    display: flex;
}

.resp li span{
    margin-right: 8px;
}