/* 
==== GLOBAL STYLES FOR ALL PAGES ====

*/
@font-face {
  font-family: 'custom-font';
  src: url('../fonts/gtwalsheimproregular-webfont.woff2') format('woff2'),
       url('../fonts/gtwalsheimproregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*
==== COLORS ====
 */
:root {
  --color-1:#FF8140;
  --color-2:#007bff;
  --color-3:#796eff;
  --color-4:#21c87a;
  --color-5:#4e66f8;
  
  --color-2-1:#2e5bd7;
  --color-2-2:#2138c9;
  --color-2-3:#222da5;
  --color-2-4:#2a2048;
  --color-2-5:#9f73c6;
  --color-2-6:#f51714;

  --font:'custom-font', sans-serif;
  --color:#ff4500;
}
 
/* 
  ==== BOX SHADOWS ====
  */
.box-shadow-sm {
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),
    0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
}
.box-shadow-lg {
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1) !important;
}
.bar-box-shadow {
  box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.03),
    0 0.275rem 1.25rem -0.0625rem rgba(0, 0, 0, 0.05);
}
.btn-shadow-1 {
  box-shadow: 0 0.5rem 1.125rem -0.5rem #2138c9;
}
.btn-shadow-primary:hover{
  box-shadow: 0 0.5rem 1.125rem -0.5rem #2138c9;
  transform: translate(0,-2px);
  -webkit-transform: translate(0,-2px);
  -moz-transform: translate(0,-2px);
  -ms-transform: translate(0,-2px);
  -o-transform: translate(0,-2px);
}
.btn-shadow-secondary:hover{
  box-shadow: 0 0.5rem 1.125rem -0.5rem #f51714;
  transform: translate(0,-2px);
  -webkit-transform: translate(0,-2px);
  -moz-transform: translate(0,-2px);
  -ms-transform: translate(0,-2px);
  -o-transform: translate(0,-2px);
}

.btn-primary{
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover{
  background-color: #007bff;
  border-color: #007bff;
}
.btn-outline-primary{
  border-color:#007bff !important;
  color: #007bff;
}
.btn-outline-primary:hover{
  background-color: #007bff;
  color: #ffffff;
  box-shadow: 0 0.5rem 1.125rem -0.5rem #007bff;
  transform: translate(0,-2px);
  -webkit-transform: translate(0,-2px);
  -moz-transform: translate(0,-2px);
  -ms-transform: translate(0,-2px);
  -o-transform: translate(0,-2px);
  transition: transform 1s ease-in;
  -webkit-transition: transform 1s ease-in;
  -moz-transition: transform 1s ease-in;
  -ms-transition: transform 1s ease-in;
  -o-transition: transform 1s ease-in;
}
.btn-danger{
  background-color: #f51714;
}
.btn-danger:hover{
  background-color: hsl(1, 92%, 42%);
}
.btn-custom{   
    --hue: 232;
    position: relative;
    padding: 0.375rem 0.75rem;
    margin: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color:#007bff;
    text-decoration: none;     
    border: 1px solid hsl(var(--hue), 72%, 46%);         
    border-radius: 3px;
    outline: transparent;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    transition: 0.25s;  
}
.btn-custom:hover{
  background-color: hsl(var(--hue), 72%, 36%);
}
.btn-pulse:hover {
  box-shadow: 0 0 0 0.45em transparent;
  animation: btn-pulse 1s infinite;
  -webkit-animation: btn-pulse 1s infinite;
}

@keyframes btn-pulse {
  from {
    box-shadow: 0 0 0 0 hsl(211, 100%, 60%);    
  }
}
.btn-breach {
  border-width: 2px;
  border-radius: 0;
  overflow: visible;
  /* border-color:transparent; */
}
.btn-breach::before,
.btn-breach::after {
  position: absolute;
  content: "";
  width: 14px;
  height: 4px;
  background: #ffffff;
  transform: skewX(60deg);
  transition: 0.4s linear;
}
.btn-breach::before {
  top: -4px;
  left: 10%;
}
.btn-breach::after {
  bottom: -4px;
  right: 10%;
}
.btn-breach:hover {
  color: hsl(var(--hue), 100%, 31%);
  background-color: transparent;
  text-decoration: none;
  border-color: hsl(var(--hue), 72%, 46%);
}
.btn-breach:hover::before {
  transform: translateX(360%) skewX(60deg);
}
.btn-breach:hover::after {
  transform: translateX(-360%) skewX(60deg);
}
/* box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06); */

/* 
==== END - BOXSHADOWS ====
*/

/* 
==== GLOBAL STYLES ====
*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }

/* Page loading circle  */
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../images/wait.svg') center no-repeat #fff;
}

html,
body {
  height: 100%;
  background-color: #ffffff;  
  font-family: var(--font); 
}

.wrapper{
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;   
}

.text-1,
.text-2,
.text-3,
.title-caption {   
  color:#53535b;
}
.text-1 {
  font-size: 1.2rem !important;
}
.text-2 {
  font-size: 1rem !important;
}
.text-3{
  font-size: 0.8rem !important;
}
.title-caption {
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}
.text-light{
  color: #6c757d !important;
}

.title-1{
  columns: #333333;
}
.title-2,.title-3{
  /* color:rgba(21, 42, 73,0.9); */
  color: #333333 !important;
}
.title-1 {
  font-size: 1.6rem !important;   
  font-weight: 800;
  position: relative;
  padding-bottom: 20px;
  text-align: center; 
}
.title-2 {
  font-size: 1.4rem !important;
  font-weight: 700;
  margin-top: 5px;
}
.title-3{
  font-size: 1.2rem !important;
  font-weight: 600;   
}

.title-highlight {
  font-weight: 800;
  color:var(--color);
}
/* underline decoration for .title-1 */
.title-1::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  width: 70px;
  height: 2px;
  background: var(--color);
  margin-left: -35px;
}
 
.quote-left{
  font-size: 1rem;
  color:hsl(211, 100%, 70%);
}
 
/* 
==== OVERLAY ====
*/
.header-img {
  margin-top: 72px !important;      
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  height:320px;   
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

.header-title{
  font-size: 3rem;
  font-weight: 800;    
  color: #ffffff !important; 
  text-align: center;         
}
  
 /* breadcrumb */
.breadcrumb {
  background-color: transparent;
  margin-left: 2rem;
  margin-top: 0.6rem;
}
.breadcrumb-item a,.breadcrumb-item, .breadcrumb-item .fa{
  color: #007bff;
}

.overlay{
  position: relative;
}
.overlay:before{
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgba(33, 56, 201,0.5);
}

.overlay h1, .overlay h2{
  position:relative;
  z-index:99;
}
/* 
==== END - OVERLAY ====
*/

/* 
==== NAVBAR ====
*/

.navbar{  
    padding: 0 !important;               
  }
 
  .navbar .nav-link{
    font-weight: 600;
    color: #232934 !important;     
  } 
  .navbar .navbar-toggler{
    outline: none;
  } 
  .navbar-light{
    background-color: rgba(244, 244, 244,0.9);
    transition:all 0.5s ease-in ;
    -webkit-transition:all 0.5s ease-in ;
    -moz-transition:all 0.5s ease-in ;
    -ms-transition:all 0.5s ease-in ;
    -o-transition:all 0.5s ease-in ;
}
  .navbar-dark{
    background-color:#f4f4f4 !important;
    box-shadow: 0 4px 3px -3px #cccccc; 
} 

.navbar-dark .nav-link:hover{
  color: #007bff !important;
}
 
.navbar-dark .active{
  color: #007bff !important;
}      
  .navbar-brand img{
    max-width: 200px;
    height: auto;         
  }
  .dropdown-menu{
    margin-top: 0; 
    padding-top: 10px;   
    border-radius: 0 !important;        
    background-color:#f4f4f4;  
    min-width: 240px;
    padding-left: 1rem;    
    animation-duration: 300ms !important;  
  }
  .dropdown-menu .dropdown-item{           
    color:#232934;     
    font-size: 1rem !important;
    padding: 2px 6px;
    margin: 0px !important;  
  }
  .dropdown-menu .dropdown-item:hover{                  
    background-color: transparent !important;     
    text-decoration: underline;
    color:hsl(211, 100%, 60%) ; 
    font-size: 1.1rem !important;
  } 
  /* drop down menu width */
  @media (min-width: 992px) {
  /* show dropdown menu on hover */
  .navbar-brand img{
    margin-left: 10px !important;
  }
  
  .site-navbar .dropdown:hover > .dropdown-menu {
    display: block;
  }
   /*Without this, clicking will make it sticky*/
  .site-navbar .dropdown > .dropdown-toggle:active {
    pointer-events: none;
  }

    .dropdown-menu{         
        border: transparent;
    }  
  }
   
 /* Hamburger Icon for Mobile Menu */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger[aria-expanded="true"]:hover {
  opacity: 0.7;
}
.hamburger[aria-expanded="true"] .hamburger-inner,
.hamburger[aria-expanded="true"] .hamburger-inner::before,
.hamburger[aria-expanded="true"] .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*Hamburger Icon Squeeze */
.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}
.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
    transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze[aria-expanded="true"] .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--squeeze[aria-expanded="true"] .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}
.hamburger--squeeze[aria-expanded="true"] .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
    transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* 
==== END - NAVBAR ====
*/

/* 
==== Inner Page Layout styles ====
*/
 
.service-tag{
  font-weight: 600;
  font-size: 18px;     
  margin-right: 20px;
  display: flex;     
  align-items: center;
  color: #f51714;
}

.service-highlight{  
height: 4px;
width: 30px;
background-color: #f51714; 
margin-right: 10px; 
}
.capabilities{
  background-color: hsl(206, 41%, 98%);
}
 
.service-card .title-1,.capability-card .title-1{
  font-size: 28px !important;
}
.capability-card{
  padding: 0 !important;
}
.capability-card .card-body{
  background-color: rgba(255, 255, 255,0.9);
  margin: 0.8rem;   
  border-radius: 0.6rem;
  padding: 1rem !important;
}
/* inner page services */
.service .card{
  border: none;
  padding: 0 !important;
}
.service .card .card-body{
  margin: 0.8rem;
  padding: 0 !important;  
} 

.service .card .card-icon{
  height: 150px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}
.service .card-1 .card-icon{   
  background-color:#0044bc;
}

.service .card-2 .card-icon{
  background-color:#009d58;
}

.service .card-3 .card-icon{   
  background-color:#ea4300    ;
}
.service .card .card-content{
  border: 1px solid rgba(108, 117, 125, 0.3);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.service .card-2 .card-content{
  border: 1px solid rgba(89, 144, 114, 0.3);
}
.service .card-3 .card-content{
  border: 1px solid rgba(108, 123, 255, 0.3);
}
.contact-banner{
  background-color: hsl(206, 41%, 98%);
}
/* 
==== END - Inner Page Layout styles ====
*/

/* 
==== FOOTER ====
*/

.footer svg{
  fill: #E9EFFF;  
}
.f-inquiries svg{
  fill: none;
  stroke:#e9efff;
} 
.footer{   
  text-align: left;   
  background:#232934;   
}
 
.footer .f-title{     
  color: #8d9096;
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 5px;   
}

.footer a,.footer p{  
 font-size: 1.05rem;   
  margin-bottom: 1px;
  color:#E9EFFF; 
  font-weight: 500;  
  text-decoration: none;
}
.f-link a:hover{
color: #ff4500; 
}
.f-link a:hover svg{
  fill:var(--color);
  height: 20px;
  width:20px;
  transition:all 0.2s ease-in;
  -webkit-transition:all 0.2s ease-in;
  -moz-transition:all 0.2s ease-in;
  -ms-transition:all 0.2s ease-in;
  -o-transition:all 0.2s ease-in;
}
.f-inquiries a:hover svg{
  fill: none;
  stroke: var(--color);
}
.f-link a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: 5px;
  background:var(--color);
  transition: width .3s;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -ms-transition: width .3s;
  -o-transition: width .3s;
}
.f-link a:hover::after {
  width: 120px;  
}
/* Footer Follow Us */
.footer .social-network li{
  list-style-type: none;
  }

 .footer .social-network a{
   font-weight:400;
   height:35px;
   width:35px;
   margin:0 5px;
   text-align:center;
   border: 2px solid #72757c;
   border-radius: 50%;
   display:flex;
   justify-content: center;
   align-items: center;
   line-height: 2;
   transition: all 0.2s ease-in;
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}

.footer .social-network a:hover{
  background-color: #f3f7fa;
  border: 2px solid #f4f4f4;
  transform: scale(1.1);
  transition: 0.2s all ease-in;
  -webkit-transition: 0.2s all ease-in;
  -moz-transition: 0.2s all ease-in;
  -ms-transition: 0.2s all ease-in;
  -o-transition: 0.2s all ease-in;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.footer .social-network a:hover svg{
  fill:var(--color);
}

  .footer .social-network a:hover{
    text-decoration: none;
  }
 .footer-copy{
   border-top: 1px solid  hsl(206, 41%, 21%);
 } 
 
.footer-copy .copy-right{
  font-weight: 500;
  font-size: 0.9rem;
  color: hsl(222, 4%, 77%);
}
/* 
==== END - FOOTER ====
*/
@media (max-width: 575.98px) { 
  .breadcrumb {
    margin-left: 0.1rem;
  }
  .header-img{
    height: 200px;
  }
  .header-title{
    font-size: 2rem;
  }
  .wrapper{
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .title-1{
    font-size: 1.5rem !important;
  }
  .title-2{
    font-size: 1rem !important;
  }   
}

@media (max-width: 768px) {
  .header-img{
    margin-top: 56px !important;      
    }
}

@media (max-width: 992px) {
.slide-image img{
  width: 100% !important;
}
.navbar-light{
  background-color: #f4f4f4 !important;
}
 
.nav-item{
  border-bottom: 1px solid rgba(243, 247, 250,0.05);
  padding: 0.3rem !important;
  margin: 0 !important;
}
.nav-link{
  margin-left: 2rem;
}
 
.dropdown-menu{
  margin-left: 3rem;
  padding: 0;
  background-color: transparent;
  border: none !important;
} 
.dropdown-menu a{
  font-size: 1rem !important;
  width: 90%;
}
.dropdown-menu a:focus{
  background-color: transparent;
  border: 1px solid rgba(206, 232, 230,0.1);
}
.progress{
  top:54px !important; 
}
}

/* === CHAT BOT CSS === */
.chat-bot .card-header {  
  color: #535a5f;
  font-weight: bolder;   
}
.chat-bot{
  display: none;
}
.chat-bot .card {
  background-color: #fff;
  width: 95%;
  max-width: 18rem;
  height: 360px;
  border-radius: 6px;
  border: none;
  overflow: hidden;
  position: fixed;   
  bottom: 5px;
  right: 5px;
  z-index:1200;
  /* margin: 5px;    */

}
.chat-bot .card-header{
color: #007bff;
}
.chat-bot .card-footer { 
  position: relative;
  bottom: 0;
  width: 100%;
}

.chat-bot button.close {
  padding: 11.4px;
  opacity: .5;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px !important;
}

.chat-bot .close{
  text-shadow: none;
}
.chat-bot .close:not(:disabled):not(.disabled):hover{
  opacity: 1;
}
.chat-bot .close:hover{
  color: rgb(255, 255, 255);
  background: #7e7979;
  opacity: 1;
}

.chat-bot .input-group-text {
  background-color: hsl(211, 100%, 60%);
  border: none;
  outline: none;
  border-radius: 0px;
  padding: 0px;
}

.chat-bot .form-control {
  border: none;   
  height: 45px;
}
.chat-bot .form-control:focus{
  box-shadow: none;
}

.chat-bot .card-body {
  color: #232934;
  background: #eaeef3;
  padding: 5px;
  font-size: 14px;
  overflow: auto;
}

 .bot {
  border: 2px solid hsl(211, 100%, 60%);
  background: hsl(211, 100%, 60%);
  color: #fff;
  font-size: 25px;
  border-radius: 50%;
  /* padding: 10px;    */
  position: fixed;   
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 25px;
  right: 25px;
  /* margin: 20px; */
  cursor: pointer;
  box-shadow: 0 0 0 0.4em transparent;
  animation: btn-pulse 1s infinite;
  -webkit-animation: btn-pulse 1s infinite; 
  z-index: 99; 
}
.bot:hover{
  border: 2px solid hsl(211, 100%, 50%);
  background: hsl(211, 100%, 50%);
  color: #ffffff;
}
.chat-bot .reply-messages{
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;   
}
.chat-bot .reply-messages p{
  margin: 0;
}

.chat-bot #botReplay{
  background: hsl(211, 100%, 60%);
  color: #ffffff;
  box-shadow: 0px 1px 1px 0px #ccc;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  max-width: 80%;
  align-self: flex-start;
}
.chat-bot #userReplay{
  background: #fff;
  color: #535a5f;
  box-shadow: 0px 1px 1px 0px #ccc;
  font-weight: 500;
  padding: 10px;
  text-align: right;
  border-radius: 8px;
  width: fit-content;
  max-width: 80%;
  align-self:flex-end;
}
.chat-bot .trashBtn{
  outline: none;
  border: none;
  background: transparent;
}
.chat-bot .trashBtn:focus{
  outline: none;
  border: none;
}
.chat-bot .sendBtn:focus{
  box-shadow: none;
}


.line-top {
  width: 120px;
  height:60px;
  z-index: -1;
  background: transparent;
  border: none;
  border-top: dashed 2px #ea981e7a;
  padding: 40px 40px;
  border-radius: 50%;
  margin: 20px -56px 0;
 
}
.line-bottom {
  width: 120px;
  height:40px;
  z-index: -1;
  background: transparent;
  border: none;
  border-bottom: dashed 2px hsla(229, 79%, 74%, 0.478);  
  padding: 40px 40px;
  border-radius: 0 0 50% 50%;
  margin: 0 -60px;
}
.circle {
  /* position:relative; */
  /* padding: 20px; */
  width: 120px;
  /* height: 120px; */
  border-radius: 50%;
  background-color: #eee;
  border: solid 1px #ddd;
  z-index: 999;
  margin: 20px;
}
.count{
text-align: center;
  margin:0px 45px;
  border-bottom: 1px solid rgba(34, 45, 165,0.2);
  /* box-shadow:inset 0 0 0 1px rgba(34, 45, 165,0.2) */
}
/* #wrapper {
  width: 680px;
  display:table;
  margin: auto;
} */
#wrapper > div {
  display: inline-block;
  
}