.nav-color-switch{
    position: fixed;
    top: 80px;
    right: 10px;
     
    min-width: 250px;
    background-color: #ffffff;
    border-radius: 8px;
    z-index: 99;
    border: 1px solid #0087FF;
    font-size: 0.9rem;
    }
    .nav-color-switch span{
      display: inline-block;
    padding:6px 15px;
    width: 30px;
    height: 30px;
    margin: 8px;
    background-color: #FF8140;
    border: 1px solid #1490ff;
    border-radius: 8px;
    cursor: pointer;
    }
    .nav-color-switch #color-1{
      background-color: #3d5ded;
    } 
    .nav-color-switch #color-2{
      background-color:#dcb239;
    } 
    .nav-color-switch #color-3{
      background-color:#ebf6ff;
    } 
    .nav-color-switch #color-4{
      
      background-color:#2F4858;
    } 
    .nav-color-switch #color-5{
      background-color:#00238E;
    } 
    .nav-color-switch #color-6{
      background-color:#a239ca;
    } 
    .nav-color-switch #color-7{
      background-color:#88bbd6;
    } 
    .nav-color-switch #color-8{
      background-color:#6d7993;  
    }
    .nav-color-switch #color-9{
      background-color:#007849;
    } 
    .nav-color-switch #color-10{
      background-color:#0375b4;
    }
    .nav-color-switch #color-11{
      background-color:#07889b;
    }
    .nav-color-switch #color-12{
      background-color:#4717f6;
    }
    .nav-color-switch #color-13{
      background-color:#b82601;
    }
    .nav-color-switch #color-14{
      background-color:#caebf2;
    }
    .nav-color-switch #color-15{
      background-color:#ff383f;
    }
    .nav-color-switch #color-16{
      background-color:#465c8b;
    }
    .nav-color-switch #color-17{
      background-color:#e9e9e9;
    }
    .nav-color-switch #color-18{
      background-color:#015249;
    }