.fa-icons{
    display: flex;
    justify-content: space-around;
    
}
.fa:hover{
    font-size: 20px;
    transition: all 0.2s ease-in-out;
    color: rgb(0, 132, 255);
}
.Header-img{
    background-image: url(./images/Header-BG.jpg);
    background-attachment: scroll;
    background-size: 1350px 535px;
    background-repeat: no-repeat;
    height: 300px;
    padding: 90px;
  }

.image{
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: skewX(-5deg);
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
  box-shadow: none;
}
.image:hover{
    box-shadow: 0px 0px 11px, -5px 5px rgb(0, 0, 0,0.8), 5px -5px rgba(255, 0, 0, 0.8);
}





/* Cards */
.team-cards{
    position: relative;
    clip-path: auto;
}
.image1{
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: skewX(-5deg);
    border-radius: 5px;
    background: rgb(177, 175, 175);
    transition: all 0.4s ease-in-out;
  }
  .image1:hover{
    box-shadow: 0px 0px 20px, -5px 5px rgb(0, 0, 0,0.8), 5px -5px rgba(255, 0, 0, 0.8);
      border: 0 0 5px 8px #ccc;
  }
  /* .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #24242498;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  } */
  .team-cards:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 0.4s ease-in-out;

    
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* Cards end */



/* .fa-icons .fa{
    border: 1px solid;
    position: relative;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}
.fa-icons .text{
    background: #ff0000;
} */
.underLine1{
    width: 10px;
    height: 4px;
    display: inline-block;
    background: rgb(252, 1, 1);
    transform: skewX(-15deg);
}
.underLine2{
    width: 20px;
    height: 4px;
    display: inline-block;
    background: #ff0000;
    transform: skewX(-15deg);
}
.underLine{
    width: 100px;
    height: 4px;
    display: inline-block;
    background: #000;
    transform: skewX(-15deg);
}
.bg-box{
    height: 100px;
    width: 100px;
    background-image: url("./docs/Computer-Vision.png");
    position: relative;
}
.join-section{
    transform: translateY(50%);
}
.footer{
    padding-top: 90px;
}