p{
    margin: 0px;
}
.contact-intro{
    background-color: #6f42c1;
    margin-bottom: 3rem;
    min-height:350px;             
    color: #F9FBFD;
}

.contact-intro .description{
    font-size: 1.1rem;
}
.Header-img{    
    background-image:url("./docs/contactus.jpg");

    background-attachment:scroll;
    background-repeat:no-repeat;
    background-size:cover;
    height:300px;
    padding: 90px;
}
.contact-info{
    font-size: 15px;
}
.contact-info .fa{
    background: #000;
    color: #fff;
    font-size: 20px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    line-height: 2.5;
    box-shadow: 0px 10px 13px -7px black;
    margin-bottom: 20px;
}
.contact-info .fa:hover{
   position: relative;
   transform: translateY(-2px);
   transition: all 0.2s ease-in-out;
}
    
.info{
    color: #fff;
    background: linear-gradient(145deg, #499aff, #0956b4);
    position: relative;
    transform: translateY(-50%);    
    z-index: 99;
    padding: 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #0956b496;
}
.info-btn{
    min-height: 50px;
    color: #fff;
    background: linear-gradient(145deg, #499aff, #0956b4);
    position: relative;
    top: 10px;
    padding: 10px;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px #0956b496;
}
.form-group input{
    border: none;
    outline: none;
    padding: 20px;
    font-size: 14px;
    border-radius: 0px;
    border-bottom: 1px solid #ccc;
    outline: none !important;
}
.form-group input:focus{
    border: none;
    outline: none;
}
.getintouch-form{
    background: #fff;
    box-shadow: 0px 0px 8px -5px;
}
/* .contact-info .col{
    text-align: center;
} */


.description .socialIcons .fa{
    color: #fff !important;
    font-size: 1.6rem;
}
.socialIcons {
    list-style-type: none;
}
.footer{
    padding-top: 140px;
}