.input-group-text {
    color: #000;            
}
.header-img{
  background-image: url("./images/job-application-img.jpg");
  background-repeat: no-repeat;
  background-size:cover;  
  background-position:center;  
}
 .login-btn{
        min-height: 28px;
        border-radius: 5px;
        border:1px solid #007bff; 
        background-color: #007bff;
        color: aliceblue;
        text-align: center;
        padding: 0.5rem 3rem;
        transition: all 1s ease-in-out;
    }
    .login-btn:hover{
        background-color:transparent;
        color:#007bff;
        transform: translateY(-10%);
    }
