.input-group-text {
    color: #000;            
}
.body-sec{
  background-image: url("./bg1.jpg");
  background-repeat: no-repeat;
  background-size:cover;    
}
.overlay{
    position: relative;
    }
    .overlay::before{
        position: absolute;
        content:"";
        top: 0;
        bottom:0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .login-btn{
        min-height: 28px;
        border-radius: 5px;
        border:1px solid #a3c09d; 
        background-color: green;
        color: aliceblue;
        text-align: center;
        padding: 0.5rem 3rem;
        transition: all 1s ease-in-out;
    }
    .login-btn:hover{
        background-color:transparent;
        color: black;
        transform: translateY(-10%);
    }