.preview-intro{
    margin-bottom: 3rem;
    min-height:300px;    
    /* background-color: #006aff;     */
    background-image: url(/docs/jobapplication.html.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #F9FBFD;
}
.preview-overlay{
    position: relative ;
}
.preview-overlay::before{
    content: "";
    position: absolute;
    top: 0;
    right:0;
    bottom: 0;  
    width: 100%;
    background-color:rgba(0,0,0,0.5) !important;
} 
.job-preview li{
padding:8px 2px;
}

.job-preview li, .job-preview p{
    color: #6c757d !important;
}
.address p{
    margin:1px;
}
