.preview-intro{
    margin-bottom: 3rem;
    min-height:300px;    
    background-color: #006aff;    
    color: #F9FBFD;
}

.job-preview li{
padding:8px 2px;
}

.job-preview li, .job-preview p{
    color: #6c757d !important;
}

.address p{
    margin:1px;
}