/* 
==== GLOBAL STYLES FOR ALL PAGES ====
*/
/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat|Muli|Open+Sans|Oswald|Questrial|Roboto&display=swap");
/* 
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Questrial', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
 */

/*
==== COLORS ====
 */
:root {
  --black: #444655;
  --blue: #007bff;
  --aqua-marine: #e9efff;
  --glitter: #e6f4f1;
  --azureish-white: #cee8e6;
  --aqua-marine: #6efacc;
  --ghost-white: #f8f9ff;
  --medium-gray: #a8aabc;
  --sky-blue: #00dbf1;
  --orange-red: #ea4300;
  --green: #009d58;
  --fresh-air: #aaddff;
  --blue-shade: #0044bc;
  --bg-color: #e2e9ef;
  --bg-soft: #f3f7fa;
  --text-color: #2a354f;
  --text-color-2: #66799e;
}

/* 
  ==== BOX SHADOWS ====
  */
.box-shadow-sm {
  box-shadow: 0 0.125rem 0.3rem -0.0625rem rgba(0, 0, 0, 0.03),
    0 0.275rem 0.75rem -0.0625rem rgba(0, 0, 0, 0.06) !important;
}
.box-shadow-lg {
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0, 0, 0, 0.1) !important;
}
.bar-box-shadow {
  box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.03),
    0 0.275rem 1.25rem -0.0625rem rgba(0, 0, 0, 0.05);
}
.btn-shadow-1 {
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(254, 105, 106, 0.9);
}
.btn-shadow-2:hover{
box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(78,84,200,0.9);
transform: translate(0,-2px);
}

/* box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06); */

/* 
==== END - BOXSHADOWS ====
*/

/* 
==== GLOBAL STYLES ====
*/
html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

a,
a:focus,
a:hover {
  color: #161c2d;
  font-family: "Montserrat", sans-serif;
}
.animate-link {
  position: relative;
  color: #007bff;
  text-decoration: none;
}

.animate-link:hover {
  color:#007bff;
  text-decoration: none;
}
.animate-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #007bff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.animate-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-caption {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
}

.text-1,
.text-2,
.text-3 {
  color: #444655;
}
.text-1 {
  font-size: 18px !important;
}
.text-2 {
  font-size: 16px !important;
}
.title-caption {
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
.title-1 {
  font-size: 32px !important;
  color: #161c2d;
  font-weight: 800;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}
.title-2 {
  font-size: 20px !important;
  color: #2c2c2c;
  font-weight: 700;
  margin-top: 5px;
}
.title-highlight {
  font-weight: 800;
  color: #ff4500;
}

.title-1::before {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 50%;
  width: 70px;
  height: 2px;
  background: #ff4500;
  margin-left: -35px;
}
 
.quote-left{
  font-size: 1.2rem;
  color: #ff4500;
}
 
/* 
==== OVERLAY ====
*/
.header-img{
  margin-top: 72px !important;      
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size:cover;
  background-position: center;
  height:300px;
  padding: 90px;
 
}
.header-title{
  font-size: 3rem;
  font-weight: 800;   
  font-family: 'Roboto', sans-serif;
  color: #ffffff !important;
  position: relative;
  text-align: center;         
}
/* .header-title::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 50%;
  width: 100px;
  height: 3px;
  background: #ff4500;
  margin-left: -35px;   
} */
.overlay{
  position: relative;
}
.overlay:before{
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 123, 255,0.5);
}
.overlay h1, .overlay h2{
  position:relative;
  z-index:99;
}
/* 
==== END - OVERLAY ====
*/

/* 
==== NAVBAR ====
*/

.navbar{  
    padding: 0 !important;
    font-family: 'Open Sans', sans-serif;              
    transition: background 250ms ease-in;     
  }
 
  .navbar-light{ 
    background: rgb(27, 43, 48,0.1) !important;    
  }
  .navbar-dark{
    background: rgb(27, 43, 48,0.98) !important; 
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);    
    box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0, 0, 0, 0.03),
    0 0.275rem 1.25rem -0.0625rem rgba(0, 0, 0, 0.05);       
  }
  .site-navbar .nav-link{
    color: #ffffff !important;
    font-weight: 800;
  }
  .navbar-brand img{
    max-width: 200px;
    height: auto;     
  }
  .dropdown-menu{
    margin-top: 0;
    padding-top: 10px;   
    border-radius: 0 !important;   
    background-color: rgb(27, 43, 48,0.98) !important;
    border-top: 1px solid #fafafa !important;
  }
  .dropdown-menu .dropdown-item{     
    font-weight: 500;   
    color: #e9efff;
  }
  .dropdown-menu .dropdown-item:hover{             
    transition: all 0.02s ease-in-out;  
    background-color: transparent !important;
  }
  .dropdown-menu a:hover{
    color: #ffffff;
    font-weight: 600;
    text-decoration: underline !important;
  }
  /* show dropdown menu on hover */
  .site-navbar .dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  .site-navbar .dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
  }
  /* full width mega dropdown menu for services  */
  .service-dropdown{
    position: static;
  }
  .service-dropdown-menu{
    width: 100%;
  }
  .service-dropdown-menu>div{
    margin-left: 40px;
  }
  .dropdown:hover .navbar{
    background: rgb(27, 43, 48,0.95) !important;
  }
  /* service dropdown menu category title */
   .dropdown-title{   
    color: #00dbf1;
    font-weight: 600; 
    font-size: 15px;
    margin-bottom: 0;     
  }
   .dropdown-menu a{
    font-size: 14px !important;
    padding: 4px 6px;
    font-family: 'Open Sans', sans-serif;
  }
  .dropdown-industry a{
  font-size: 1rem !important;
  margin-left: 1rem !important;
  }
  .dropdown-industry{
     min-width: 220px;
  }
  /* end - show drop downmenu on hover */
  
  /* drop down menu width */
  @media (min-width: 992px) {
    .dropdown-menu{
        /* transform: translate(50%,0); */
        border: transparent;
    }
  }
  /* animation for navbar dropdown */
  @media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
/* 
==== END - NAVBAR ====
*/

/* 
==== FOOTER ====
*/
/* 
.f-links a{
  font-size: 16px;
  text-decoration: none;
  color: white;
  margin: 0 20px;
}
#footer{
  font-size: 15px;
}
.Social-icons .fa{
  font-size: 20px;
  color: white;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  transition: all .3s ease-in ;
  position: relative;
  overflow: hidden;
}
.Social-icons .fa:hover{
  font-size: 25px;
}
.Social-icons .fa-facebook{
  border:   #3b5998;
  color: #3b5998;
}
.Social-icons .fa-twitter{
  border: #55acee;
  color: #55acee;
}
.Social-icons .fa-google-plus{
  border: #dc4e41;
  color: #dc4e41;
}
.Social-icons .fa-linkedin{
  border: #0077b5;
  color: #0077b5;
}

.Social-icons .fa-facebook:hover{
  color: white;
  background: #3b5998;
}
.Social-icons .fa-twitter:hover{
  color: white;
  background: #55acee;
}
.Social-icons .fa-google-plus:hover{
  color: white;
  background: #dc4e41;
}
.Social-icons .fa-linkedin:hover{
  color: white;
  background: #0077b5;
}
.underLine1{
  width: 10px;
  height: 4px;
  display: inline-block;
  background: #ff4500;
  transform: skewX(-15deg);
}
.underLine2{
  width: 20px;
  height: 4px;
  display: inline-block;
  background: #ff4500;
  transform: skewX(-15deg);
}
.underLine{
  width: 100px;
  height: 4px;
  display: inline-block;
  background: #000;
  transform: skewX(-15deg);
} */


.logo-footer img{
  height: auto;
  max-width: 180px;
  }
.footer-row-1 a,.footer-row-2 a,.footer-row-2 p{
  color:#e9efff !important;
}
.footer-row-2 a{
  font-size: 13px !important;
  margin: 5px 10px;
  text-align: right;
}
.footer-row-1 a:hover,.footer-row-2 a:hover{
  color:#ffffff !important;
  font-size: 1rem;
}

.social-network li{
list-style-type: none;
}
.social-network .fab{
font-weight:400;
height:35px;
position:relative;
text-align:center;
width:35px;
border: 2px solid #e2e9ef;
border-radius: 50%;
line-height: 2
}
.social-network .fab:hover{
  color: #2a354f;
  background-color: #f3f7fa;
  border: 2px solid #ffffff;
  }
  

.footer-hr{
border-top: 1px solid rgba(255, 255, 255,0.2);
}

/* 
==== END - FOOTER ====
*/
