/* 
======= NAVIGATION BAR =======
*/
.navbar {
  background: rgba(51, 94, 234) !important;
  padding: 5px;
}

.master-nav .logo img {
  max-width: 200px;
}

.master-nav .nav-item {
  padding: 10px;
}
.master-nav .nav-link {
  color: #ffffff !important;
}
.master-nav .nav-link:hover {
  color: #ffffff !important;
  /* font-weight: 600; */
}
.master-nav .nav-link:focus {
  color: #ffffff !important;
}
.master-nav .nav-item .active {
  color: #ffffff !important;
}

.master-nav .dropdown:hover > .dropdown-menu {
  display: block;
}

.master-nav .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.master-nav .dropdown-menu {
  margin-top: 0;
}

.master-nav .dropdown-two-col {
  width: 400px;
}
.master-nav .dropdown-menu {
  border: transparent !important;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
  left: -85px;
 
}
.master-nav .dropdown-item {
  padding: 12px 15px;
}
.navbar-shadow{
  box-shadow: 0 -5px 15px 5px #335eea;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 12px 6px -6px rgba(0, 0, 0,0.2),0 -2px 6px -6px #335eea;
       
  
}
/* 
======= END - NAVIGATION BAR =======
*/

/* Change this breakpoint if you change the breakpoint of the navbar */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
