/* 
======= NAVIGATION BAR =======
*/
 
/* 
.navbar{
  transition: all 0.4s ease-in;
  background: rgb(27, 43, 48,0.9) !important;
}
.main-navbar{
  margin-bottom: 75px !important;
}
.navbar-light{ 
  background: rgb(27, 43, 48,0.1) !important;    
}
.navbar-dark{
  background: rgb(27, 43, 48,0.95) !important; 
  margin-bottom: 70px !important; 
}

.master-nav .logo img {
  max-width: 200px;
}

.master-nav .nav-item {
  padding: 10px;
}
.master-nav .nav-link {
  color: #ffffff !important;
}
.master-nav .nav-link:hover {
  color: #ffffff !important;   
}
.master-nav .nav-link:focus {
  color: #ffffff !important;
}
.master-nav .nav-item .active {
  color: #ffffff !important;
}

.master-nav .dropdown:hover > .dropdown-menu {
  display: block;
}

.master-nav .dropdown > .dropdown-toggle:active {   
  pointer-events: none;
}

.master-nav .dropdown-menu {
  margin-top: 0;
}

.master-nav .dropdown-two-col {
  width: 400px;
}
.master-nav .dropdown-menu {
  border: transparent !important;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
  left: -85px;
 
}
.master-nav .dropdown-item {
  padding: 12px 15px;
}
.navbar-shadow{
  box-shadow: 0 -5px 15px 5px #335eea;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
       box-shadow: 0 12px 6px -6px rgba(0, 0, 0,0.2),0 -2px 6px -6px #335eea;
       
  
} */
.navbar{
  transition: all 0.4s ease-in;
  background: rgb(27, 43, 48,0.9) !important;
  padding: 0;
}
.main-navbar{
  margin-bottom: 70px !important;
}
.navbar-light{ 
  background: rgb(27, 43, 48,0.1) !important;    
}
.navbar-dark{
  background: rgb(27, 43, 48,0.95) !important; 
  margin-bottom: 70px !important; 
}
.site-navbar .nav-link{
  color: #ffffff !important;
}
.navbar-brand img{
  max-width: 200px;
  height: auto;
  margin-left:10px;
}
.dropdown-menu{
  margin-top: 0;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;  
  border: 2px solid #000;
}
.dropdown-menu .dropdown-item{
  transition: all 0.1s ease;
  font-weight: 500;
  background-color: rgba(0, 0, 0,0.02);
  color: #333;
}
.dropdown-menu .dropdown-item:hover{     
  /* transform: scale(1.01); */
  font-weight: 550;
  color: #000;
}
/* show dropdown menu on hover */
.site-navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

.site-navbar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
/* end - show drop downmenu on hover */

/* drop down menu width */
@media (min-width: 992px) {
  .dropdown-menu{
      /* transform: translate(50%,0); */
      border: transparent;
  }
  .dropdown-two-col{
      min-width: 24rem;
      transform: translate(50%,0);        
  }
  .dropdown-three-col{
      min-width: 50rem;
      transform: translate(30%,0);
  }
  .dropdown:hover::after{
      position: absolute;
       left: 30%;
      bottom: 0;
      width: 0;
      height: 0;
      content: '';
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #fff;
      transition: all 0.2s ease 0.2s;     
  }
}
/* animation for navbar dropdown */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
/* 
======= END - NAVIGATION BAR =======
*/

/* Change this breakpoint if you change the breakpoint of the navbar */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
/* Footer */
.footer{
  /* color:rgba(249, 251, 253, 0.7) !important; */
  color: #424B54;
}
.mastfoot,
.socialIcons .fa {
  color: rgba(255, 255, 255, 0.5);
  color:rgba(249, 251, 253, 0.7);
  color: #424B54;
}

.footer-logo {
  max-width: 180px;
}
.footer {
  background-color: #424B54;  
  background-color: #424B541A;
}
.footer h5{
  color:#384C74;
}
.socialIcons {
  font-size: 20px;
}
.footer .list-unstyled a{
  /* text-decoration: none; */
  color: #424B54;
}
.footer>ul>p>address{
  color:rgb(139, 137, 137) !important;
}
.company-tagline{
  font-size: 0.9rem;
}

/* Footer End */