@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Muli|Open+Sans|Oswald|Questrial|Roboto&display=swap');
/* 
======= NAVIGATION BAR =======
*/
.navbar{
  transition: all 0.4s ease-in;   
  padding: 0 !important;
  font-family: 'Open Sans', sans-serif;
}
.main-navbar{
  margin-bottom: 70px !important;
}
.navbar-light{ 
  background: rgb(27, 43, 48,0.1) !important;    
}
.navbar-dark{
  background: rgb(27, 43, 48,0.95) !important; 
  margin-bottom: 70px !important; 
}
.site-navbar .nav-link{
  color: #ffffff !important;
  font-weight: 800;
}
.navbar-brand img{
  max-width: 200px;
  height: auto;
  margin-left:10px;
}
.dropdown-menu{
  margin-top: 0;   
  border-radius: 0 !important;   
  background-color: rgb(27, 43, 48,0.98) !important;
  border-top: 1px solid #fafafa !important;
}
.dropdown-menu .dropdown-item{
  /* transition: all 0.1s ease; */
  font-weight: 500;   
  color: #e9efff;
}
.dropdown-menu .dropdown-item:hover{        
  /* font-weight: 600; */   
  transition: all 0.05s ease-in-out;  
  background-color: transparent !important;
  /* font-weight: 800; */
  /* font-size: 15px; */
   ;
}
.dropdown-menu a:hover{
  color: #ffffff;
  font-weight: 600;
  text-decoration: underline !important;
}
/* show dropdown menu on hover */
.site-navbar .dropdown:hover > .dropdown-menu {
  display: block;
}

.site-navbar .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.service-dropdown{
  position: static;
}
.service-dropdown-menu{
  width: 100%;
}

.dropdown:hover .navbar{
  background: rgb(27, 43, 48,0.95) !important;
}
 .dropdown-title{   
  color: #00dbf1;
  font-weight: 600; 
  font-size: 15px;
  margin-bottom: 0;
}
 .dropdown-menu a{
  font-size: 14px !important;
}
.dropdown-industry a{
font-size: 1rem !important;
}
/* end - show drop downmenu on hover */

/* drop down menu width */
@media (min-width: 992px) {
  .dropdown-menu{
      /* transform: translate(50%,0); */
      border: transparent;
  }
  /* .dropdown-two-col{
      min-width: 24rem;
      transform: translate(50%,0);        
  }
  .dropdown-three-col{
      min-width: 50rem;
      transform: translate(30%,0);
  } */
  /* .dropdown:hover::after{
      position: absolute;
       left: 30%;
      bottom: 0;
      width: 0;
      height: 0;
      content: '';
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 12px solid #fff;
      transition: all 0.2s ease 0.2s;     
  } */
}
/* animation for navbar dropdown */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
/* 
======= END - NAVIGATION BAR =======
*/

/* Change this breakpoint if you change the breakpoint of the navbar */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
/* Footer */
.footer{
  /* color:rgba(249, 251, 253, 0.7) !important; */
  color: #424B54;
}
.mastfoot,
.socialIcons .fa {
  color: rgba(255, 255, 255, 0.5);
  color:rgba(249, 251, 253, 0.7);
  color: #424B54;
}

.footer-logo {
  max-width: 180px;
}
.footer {
  background-color: #424B54;  
  background-color: #424B541A;
}
.footer h5{
  color:#384C74;
}
.socialIcons {
  font-size: 20px;
}
.footer .list-unstyled a{
  /* text-decoration: none; */
  color: #424B54;
}
.footer>ul>p>address{
  color:rgb(139, 137, 137) !important;
}
.company-tagline{
  font-size: 0.9rem;
}
/* Footer End */