@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Muli|Open+Sans|Oswald|Questrial|Roboto&display=swap');
 /* 
    font-family: 'Lato', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Oswald', sans-serif;

    font-family: 'Questrial', sans-serif;

    font-family: 'Muli', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Open Sans', sans-serif;
 */
/* colors */

:root{
  --black:#444655;
  --blue:#007bff;
  --aqua-marine:#e9efff;
  --glitter:#e6f4f1;
  --azureish-white:#cee8e6;
  --aqua-marine:#6efacc;
  --ghost-white:#f8f9ff;
  --medium-gray:#a8aabc;
  --sky-blue:#00dbf1;
  --orange-red:#ea4300;
  --green:#009d58;
  --fresh-air:#aaddff;
  --blue-shade:#0044bc;

}
/*Global styles*/
/* Links */
a,
a:focus,
a:hover {
  color: #161c2d;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4,h5,h6,.title-caption{
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: 'Open Sans', sans-serif; 
}

.text-1,.text-2,.text-3{
  color:#444655;
}
.text-1{
  font-size: 18px !important;
}
.text-2{
  font-size: 16px !important;
}
.title-caption{
  font-size: 15px;
  font-style: italic;
}
.title-1{
  font-size: 32px !important;
  color:#161c2d; 
  font-weight: 800; 
  position: relative;
  padding-bottom: 20px;  
}
.title-2{
  font-size: 20px !important;
  color:#2C2C2C;
  font-weight: 700;
  margin-top: 5px;
}
.title-highlight{
  font-weight: 800;   
  color: #ff4500;
}

.title-1::before{
position: absolute;
content: '';
bottom: 0px;
left: 50%;
width: 70px;
height: 2px;
background: #ff4500;
margin-left: -35px;
}
/* Custom default button */
.btn-secondary{
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color:#007bff;
  border: .05rem solid #fff;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color:#0044bc;
}

/* Base structure*/
html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

body {   
  color: #161c2d;
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgb(249, 251, 253); */
}

/* horizontal line divider */
.hr-divider{
  margin-top:5px;
  margin-bottom:5px;
  height:1px;
  width:80%;
  margin: 0 auto;
  border-top:1px solid rgba(0, 123, 255,0.2);
 }

 /* overlay  */
 .overlay{
  position: relative;
}
.overlay::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0,0.6);
}
.overlay h1, .overlay h2{
  position: relative;
  z-index: 99;
}
/* end overlay */

/*
----------------- 
 Home Page
-----------------
*/

.home{
  height: 90vh;
  /* max-width: 95%; */
}
/* .v-header{
  display:flex;
  align-items:center;
  color:#fff;
  border: 2px solid red;
} */


.fullscreen-video-wrap{
  position:absolute;
  top:0;
  left:0;
  bottom: 0;
  width:100%;
  height:100vh;
  overflow:hidden;
}

.fullscreen-video-wrap video{
  min-height:100%;
  min-width:100%;
  /* Make video to at least 100% wide and tall */; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 
==== END - HOME VIDEO ====
/* 

/*
 ==== Welcome ====
*/
.welcome{   
padding:4rem 0!important;     
background-color: #ffffff;
}
.welcome-card img{
   max-width: 36px;
 }
/* 
==== END - WELCOME ====
*/


/* 
==== CORE VALUES ====
*/
.core-values{
  padding:4rem 0!important;
  background-color: #f5f8fd;
}
.core-val-caption {
  background-image: url("./images/background/bg_shape.svg");
  background-repeat: no-repeat;
  background-size:350px 350px;
  background-position: center;
} 

.core-values-items img{
  width: 40px;
  height: auto;   
}
/* 
==== END - CORE VALUES ====
*/


/*
==== SERVICES ====
*/
.services{
  padding: 4rem 0 !important;
}
.main-service { 
  padding: 20px;
  margin: 10px 10px;   
  margin-bottom: 15px;
  background-color: #fff;   
  cursor: pointer;
  position: relative;   
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
 
}
/* .main-service:hover{        
  transition: all .2s ease-in-out; 
  transform: translateY(-3px);
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.25),-10px 0 15px rgba(140, 152, 164, 0.25) !important;
} */
 
.service-row{
  margin-top: 55px;
  display: flex;
  justify-content: center; 
}
.service-icon {      
  /* padding: 0.4rem; */
  margin-bottom: 0;
  padding:10px;
  background-color:#ffffff;
  position: absolute;
  left: 37%;
  top: -40px;
  text-align: center;
  border-radius:50px;
}
.serv-1{
border: 1px solid rgba(0, 157, 88,0.7);
/* background-color: #deffe5; */
}
 
.serv-2{
border: 1px solid rgba(255, 69, 0,0.7);
/* background-color: antiquewhite; */
}
.serv-3{
border: 1px solid #95aeff;
/* background-color: #95aeff4d; */
}
.serv-4{
  border:1px solid #95aeff;
  /* background-color: #95aeff4d; */
}
.serv-5{
border: 1px solid rgba(0, 157, 88,0.7);
/* background-color: #deffe5; */
}
.serv-6{
  border: 1px solid rgba(255, 69, 0,0.7);
/* background-color: antiquewhite; */
}

/* service-hover */


/* .box {
  position: relative;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
} */
/* 
.main-service::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), height 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);  
} */

/* .main-service:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
} */

/* .main-service:hover::after {
    opacity: 1;
} */
.service-link{
  visibility: hidden;
}
.main-service:hover .service-link{
  visibility: visible;
}


/* service-hover */


/* 
======= SERVICES END ========
*/

/* 
======= INDUSTRIES =======
*/
.industries{
  background-color: rgba(0, 0, 0, 0.06);
  padding: 4rem 0 !important;
}
.industry{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(26, 26, 29, 0.08) 0px 4px 12px !important;
  transition: background-color 0.2s ease-in;
  border-radius: 8px;
  background-color: #fafafa;
  transition:all 0.5s ease-in;
}
 
.industry:hover{
  text-decoration: none;
    
}
.industry:hover p{
  color: #ffffff !important; 
}

.ind-1 svg{
  fill:#28a745;
}
.ind-1:hover{
  background-color: #28a745;
  color:#fff !important;
}
.ind-1:hover svg{
  fill:#ffffff;   
}
.ind-2 svg{
  fill:#6610f2;
}
.ind-2:hover{
  background-color: #6610f2;
  color:#fff;
}
.ind-2:hover svg{
  fill:#ffffff;   
}
.ind-3 svg{
  fill:#fd7e14;
}
.ind-3:hover{
  background-color: #fd7e14;
  color:#fff;
}
.ind-3:hover svg{
  fill:#ffffff;   
}
.ind-4 svg{
  fill:#335eea;
}
.ind-4:hover{
  background-color: #335eea;
  color:#fff;
}
.ind-4:hover svg{
  fill:#ffffff;
   
}

.ind-5 svg{
  fill:#17a2b8;
}
.ind-5:hover{
  background-color: #17a2b8;
  color:#fff;
}
.ind-5:hover svg{
  fill:#ffffff;
   
}

.ind-6 svg{
  fill:#e83e8c;
}
.ind-6:hover{
  background-color: #e83e8c;
  color:#fff;
}
.ind-6:hover svg{
  fill:#ffffff;
   
}
/* 
======= END - INDUSTRIES =======
*/

/* 
==== OUR PROJECTS ====
*/
.our-projects{
  background-color: #ffffff;
  padding: 4rem 0 !important;         
 }  
.img-box img{
 max-width: 350px;
 width:350px;
 height: auto;
 border-radius: 12px;
}
.carousel-inner{
  border-radius: 12px;
  box-shadow: 0 0 5px 8px #ffffff;
  background-color:#ffffff;
}
.img-box{
  padding: 0;
}
/* #mainCarousel .carousel-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
} */
 
#mainCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  font-size: 70px;
  font-weight: 700;
  margin-right: -190px;
  color: #000000c5;
}

#mainCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#mainCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name:fade;
  display: block;
  height: auto;
  max-width: 100%;
  transition: opacity 1s ease-in-out;
}

#mainCarousel h4,
#mainCarousel a,
#mainCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
#mainCarousel .container {
  max-width: 1430px;
}
#mainCarousel .carousel-item {
  height: 100%;
  /* min-height: 550px; */
}
#mainCarousel {
  position: relative;
  z-index: 1;
  background-size: cover;
}

.carousel-control-next,
.carousel-control-prev {
  height: 40px;
  width: 40px;
  padding: 12px;
  bottom: -18px;
  right: 10px;
  top: auto;
  transform: translateY(-50%);
  background-color: #335eea;
}
.carousel-control-prev{
    right: 50px;
    left: auto;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right,
.carousel-fade .carousel-item.active {
  opacity: 1;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-right.active {
  opacity: 0;
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
@supports (transform-style: preserve-3d) {
  .carousel-fade .carousel-item-left.active,
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item-prev.active,
  .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-fade .carousel-item-left.active,
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item-prev.active,
.carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes fade {
    from {
      opacity: 0;
      /* -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); */
    }
  
    to {
      opacity: 1;
      /* -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); */
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
      /* -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0); */
    }
  
    to {
      opacity: 1;
      /* -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); */
    }
  }
 /* 
 ======== OUR SUCCESS STORIES ========
 */

/* 
==== TESTIMONIALS ====
*/
.testimonials{
  padding: 4rem 0 !important; 
  background-color:#e6f4f1;
}

.testimonial-card{
  border: 1px solid rgba(0, 123, 255,0.2);
  border-radius: 8px;
  text-align: left;
}
.testimonial-card img{
  max-width: 60px !important;
}

.rating{
  list-style-type: none;
  display: inline-block;
}
.rating .fa{
  color: #007bff;
}

/* 
==== END - TESTIMONIALS ====
*/

/* 
==== BLOG POSTS ====
*/
.blog-posts{
  padding: 4rem 0 !important;
  background-color: #ffffff;
}
.blog-post .card-content{
  border-radius: 12px;
}
/* 
==== END - BLOG POSTS ====
*/

/* 
==== COMPANY STATS ====
*/
.stats-container{
  background-color: #f5f8fd;
  padding: 2rem 0 !important;
}

/* 
==== END - COMPANY STATS ====
*/

 /* 
 ======== CONTACT US BANNER ========
 */

.contact-banner{     
  
  background-color: #f8f8f8;
  padding: 4rem 0 !important;
   
}
 
.contact-inner{
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  box-shadow: 0 0 8px 1px rgba(0,0,0,0.12);
  border-radius: 0.6rem;
}
 
 /* 
 ======== END - CONTACT US BANNER ========
 */

 /* 
 ======== OUR SUCCESS STORIER ========
 */
.success-container {
  background-color: #e9efff;
  /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);    */
}
.our-success{
  background-image: url("/images/cogs_bg.svg");

}
.controls .fa {
  font-size: 40px;
  width: 50px;
  height: 50px;
  align-items: center;
  line-height: 45px;
}
.Sucess-indicator {
  bottom: -50px;
}
.success-contatiner .carousel img{
width: 80%;
}
 /* 
 ======== END - OUR SUCCESS STORIER ========
 */

/* CLIENTS */
.our-clients{
  padding: 4rem 0 !important;
}

.our-clients img{
  max-width: 150px;
  padding-left:12px;
  padding-right:12px;
}
 
/* <svg viewBox="0 0 112 690" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M116 0H51V172C76 384 0 517 0 517V690H116V0Z" fill="currentColor"></path>
                    </svg> */
 /* BLOG POSTS */

 .cta-100 {
  margin-top: 100px;
 /* padding-left: 8%;
  padding-top: 7%;*/
} 
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #708198 !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 100px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}

/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #708198;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #0fc9af;
}

.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 20px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}


.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}



/* blog posts  */

/* card details start  */
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 90%;
	height: auto;
  display: block;
  margin: 0 auto;
}

.card-img span {
	position: absolute;
    top: 15%;
    left: 12%;
    background: #1ABC9C;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    transform: translate(-50%,-50%);
}
.card-img span h4{
        font-size: 12px;
        margin:0;
        padding:10px 5px;
         line-height: 0;
}
 
.card-desc h3 {
	color: #000000;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
}

.card-desc p {
	color: #747373;
    font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}
.btn-card{
  background-color:rgba(255, 255, 255, 0.685);  
	color:black;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;   
}
.btn-card:hover {
    background: #335EEA;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}
/* End card section */
.t-cont{
  padding: 25px 0;
  margin: 0 15px;
}
.t-card{
  margin: 0 auto;  
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
 background-color: #ffffff;
 border-radius: 6px;
 border-bottom-right-radius: 40px;
 border-top-left-radius: 25px;
}
.client-pic{
  z-index: 1;
}
.client-pic img{
max-width: 100px;
margin: 0 10px;
border-bottom-right-radius: 25px;
 border-top-left-radius: 25px;
 border: 1px solid rgba(22, 28, 45,0.3);
}
