@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
/*Global styles*/

/* Links */
a,
a:focus,
a:hover {
  color: #161c2d;
}

/* Custom default button */
.btn-secondary{
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #335EEA;
  border: .05rem solid #fff;
}
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #1746e0;  
  border: .05rem solid #fff;
}

.btn-secondary .fa{
  font-weight: 400;
}

/* Base structure*/
html,
body {
  height: 100%;
  /* background-color: #f9fbfd; */
  font-family: 'Rubik', sans-serif;
  background-color: #ffffff;
}

body {
  display: -ms-flexbox;
  /* display: flex; */
  color: #161c2d;
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  /* box-shadow: inset 0 0 5rem rgb(249, 251, 253); */
}
/* decorated bottom wave effect */
.decorated-bottom {
  /* position: absolute;
  top: auto;
  right: 0;
  bottom: -1px;
  left: 0;
  z-index: 20; */
  height: 3.125rem;
  transform: translateZ(0);
}
.text-light {
  color: #f5f5f5 !important;
}
.decorated-bottom svg > * {
  fill: currentColor;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}
/* Navigation bar - Header */
/* 
======= NAVIGATION BAR =======
*/
.navbar {
  background-color: rgba(51, 94, 234, 0.1) !important;
  padding: 0;
}

.master-nav .logo img {
  max-width: 150px;
}

.master-nav .nav-item {
  padding: 10px;
}
.master-nav .nav-link {
  color: #2b354f !important;
}
.master-nav .nav-link:hover {
  color: #335eea !important;
  font-weight: 500;
}
.master-nav .nav-link:focus {
  color: #335eea !important;
}
.master-nav .nav-item .active {
  color: #335eea !important;
}

.master-nav .dropdown:hover > .dropdown-menu {
  display: block;
}

.master-nav .dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}

.master-nav .dropdown-menu {
  margin-top: 0;
}

.master-nav .dropdown-two-col {
  width: 400px;
}
.master-nav .dropdown-menu {
  border: transparent !important;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1) !important;
  left: -85px;
 
}
.master-nav .dropdown-item {
  padding: 12px 15px;
}
/* 
======= END - NAVIGATION BAR =======
*/

/* Change this breakpoint if you change the breakpoint of the navbar */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/*
----------------- 
 Home Page
-----------------
*/
.cover-heading{
  color: #161C2D;
}
.cover-text{
max-width: 36em;
color:#2B354F; 
}

.cover .btn-lg {
  padding: 0.75rem 1.25rem;
  font-weight: 700;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  left:50px;
  top:20%;
}

/* Declare heights because of positioning of img element */
.main-slide {
  height: 34rem;
  background-color: #ffffff;
}
.main-slide > img {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 80%;
  height: auto;
}
.carousel-indicators li {
  background-color: #335eea !important;
  /* padding: 0.1rem 1rem;
  margin:0 0.6rem; */
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
}
 
/* .carousel-control-prev{ 
  left: -70px;
}
.carousel-control-next {
  right: -70px;
} */
.carousel-item img{
  /* max-width: 50%; */
  display: inline-block;
  height: 100%;
  vertical-align: middle;
   
}
 
/* .slide-1 img{
  max-width:58% !important;
}
.slide-1 img {
  max-width: 80%;
}
.slide-3 img {
  max-width: 55% !important;
} */
/* About us */
.about-container{
  background-image: linear-gradient(to bottom,#e3f4fc,#f9fbfd 100%); 
  padding: 45px 0;
  font-family: 'Rubik', sans-serif;  
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
}
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}
.featurette img {
  width: 400px;
  height: auto;
}
/* Core Values */
.core-values-container{
  background-color: #ffffff;
}
.svg-bg{
  position: relative;
}
.core-values-title{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.core-values-title span{
  font-weight: 800;
  color: #007bff;
}
.core-values-title p{
  color:#2B354F;
  font-size: 1.25rem;
}
.core-val{
  background-color: rgba(0, 123, 255,0.3);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto;
  /* padding: 10px; */
}
.core-val-1,.core-val-2,.core-val-3{
background-color: rgba(0, 165, 79,0.2);
}
.core-val-1 span,.core-val-2 span,.core-val-3 span{
  color: #ff0088;
}
.core-val-4,.core-val-5,.core-val-6{
  background-color:rgba(255, 0, 136,0.2);
}


.core-values-items img{
  width: 35px;
  height: auto;   
}

/*
======= SERVICES ========
*/
.services{
  background-color: #f5f5f5;
}

.main-service { 
  padding: 20px;
  margin: 10px 10px;   
  background-color: #f9fbfd;
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.125) !important;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.main-service:hover{        
  transition: all .2s ease-in-out; 
  transform: translateY(-3px);
  box-shadow: 0 0 35px rgba(140, 152, 164, 0.25),-10px 0 15px rgba(140, 152, 164, 0.25) !important;
}
/* .service:hover .service-icon{
  text-align: center;
}  */
.service h3{
font-size: 1.4rem;
}
.service-row{
  display: flex;
  justify-content: center; 
}
.service-icon {      
  padding: 0.4rem;
  margin-bottom: 0;
}
.services h2{
  color: #6610f2;
}
.services p{
  font-size: 1.2rem;
  color: #2B354F;
}
/* 
======= SERVICES END ========
*/

.overlay{
  position: relative;
}
.overlay::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0,0.6);
}
.overlay h1, .overlay h2{
  position: relative;
  z-index: 99;
}
/* .overlay{
  position: relative;
}
.overlay::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0,0.7);
}
.overlay h1, .overlay h2{
  position: relative;
  z-index: 99;
} */
 /* Overlay end */
 
/* Contact us */
.contact-banner{
  min-height: 300px;
  /* background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%); */
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
.contact-banner p{
  font-size: 1.2rem;
  color:#2B354F;
}

/* Our Success */
.success-container {
  background-color: #ffffff;
  /* background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);    */
}
.controls .fa {
  font-size: 40px;
  width: 50px;
  height: 50px;
  align-items: center;
  line-height: 45px;
}
.Sucess-indicator {
  bottom: -50px;
}
.success-contatiner .carousel img{
width: 80%;
}
/* Our Success End */

/* Counter*/
.count p {
  color: hsl(201, 98%, 48%);
}
.count .fa {
  font-size: 30px;
}
.count .fa-user {
  color: #b761df;
}
.icon-bg1 {
  width: 50px;
  height: 50px;
  background: rgba(88, 124, 223, 0.2);
  align-items: center;
}
.icon-bg2 {
  width: 50px;
  height: 50px;
  background: rgba(211, 223, 97, 0.2);
  align-items: center;
}
.icon-bg3 {
  width: 50px;
  height: 50px;
  background: rgba(97, 223, 135, 0.2);
  align-items: center;


}
.icon-bg4 {
  width: 50px;
  height: 50px;
  background: rgba(183, 97, 223, 0.2);
  align-items: center;
}
/* Counter End */
/* Footer */
.mastfoot,
.socialIcons .fa {
  color: rgba(255, 255, 255, 0.5);
}

.footer-logo {
  max-width: 200px;
}
.footer {
  background-color: #1f2443;
  color: #fff;
}
.socialIcons {
  font-size: 20px;
}
/* Footer End */
