 /* Side Nav */
 .main-sideNav{
   background: #007bff;
   height: 100%;
   padding-top: 15px;
   position: fixed;
   z-index: 99;
 }
 #signOut-1{
   color: rgb(158, 157, 157);
   text-decoration: none;
 }
 #signOut-1:hover{
 color:#FF9800;
}
 .nav-tabs .nav-link.active {
  color: #007bff;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, 0.623)
}
 .nav-tabs .nav-link {
   border: none !important;
  border-radius: .25rem;
  padding: 1rem;
 }
 
 .nav-tabs {
  border-bottom: none !important;
}

 .main-sideNav a{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.main-sideNav a:hover{  
  color: #fff;
  background: rgba(255, 255, 255, 0.192);
}
.main-sideNav a:not([href]):not([tabindex]) {
  color: #fff;
} 
.main-sideNav a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
  color: #fff;
}

 /* .side-nav .far, .side-nav .fas, .side-nav .fab{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background-color: rgba(0, 123, 255,0.15);
  text-align: center;
  line-height: 2;
 } */

 select option{
  text-transform: capitalize;
  padding: 1rem; 
 }
 /* Side Nav End */

 /* mainSideText */

    .mainSideText{
      margin-left: 225px;
      /* background: #eee; */
    }

 /* mainSideText End */

 /* Dashboard */

 .card{
   padding: 0px;
   border: none !important;
 }
.card-body{
  border-radius: .25rem;
  color: #3a3a3a;
  padding: 1.25rem 1.25rem 1.25rem  1.25rem ;
}
#home .card1{
  background: #cdfbcd;
  border: 1px solid #FF9800;
  color: #11a500;
  /* background: linear-gradient(180deg,#35df7c 0%,#25b460 100%); */
}
#home .card2{
  background: #c9dff5dd;
  border: 1px solid #046dd6;
  color: #046dd6;
  /* background: linear-gradient(180deg,#39f 0%,#2982cc 100%); */
}
#home .card3{
  background: #fbe1bb;
  border: 1px solid #FF9800;
  color: #ea2121dd;
  /* background: linear-gradient(180deg,#f9b115 0%,#f6960b 100%); */
}
.tab-content .card-body{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card-body h5{
  font-size: 18px;
  margin: 0;
}
.card-body p{
  /* font-size: 50px; */
  margin: 0px;
}
.RecentText{
  font-size: 20px;
  text-align: center;
  position: relative;
  background: #fff;
  z-index: 999;
}
.RecentText::before{
  content: "";
  display: block;
  width: 42%;
  height: 1px;
  background: rgb(206, 206, 206);
  top: 60px;
  left: 0;
  z-index: -1;
  position: absolute;
}
.RecentText::after{
  content: "";
  display: block;
  width: 42%;
  height: 1px;
  background: rgb(206, 206, 206);
  top: 60px;
  z-index: -1;
  right: 0;
  position: absolute;
}

/* messageTable */
#viewAllMessages{
  padding: 10px 15px 10px 10px;
  margin-right: 10px;
  border-radius: 4px;
  background: #ddeeffdd;
}
#message {
  border-radius: 4px;
  overflow: hidden;
}
table  th{
  background: #4ca5fddd;
  color: #121213;
}
table tr:nth-child(even){
  background: #ddeeffdd;
}
table tr:hover{
  background: #ddeeffdd;
  font-weight: bolder;
}
/* messageTable end */


/* Job Post Table */
/* #viewAllOpenings{
  padding: 10px 15px 10px 10px;
  margin-right: 10px;
  border-radius: 4px;
  background: #ddeeffdd;
}
#recentJobPosts{
  border-radius: 4px;
  overflow: hidden;
}
#recentJobPosts th{
  background: #4ca5fddd;
  color: #121213;
}
#recentJobPosts tr:nth-child(2){
  background: #ddeeffdd;
}
#recentJobPosts tr:hover{
  background: #ddeeffdd;
  font-weight: bolder;
} */
/* Job Post Table */

/* Job Apllications */
/* #viewAllApplications{
  padding: 10px 15px 10px 10px;
  margin-right: 10px;
  border-radius: 4px;
  background: #ddeeffdd;
}
#recentJobApllications{
  border-radius: 4px;
  overflow: hidden;
}
#recentJobApllications th{
  background: #4ca5fddd;
  color: #121213;
}
#recentJobApllications tr:nth-child(2){
  background: #ddeeffdd;
}
#recentJobApllications tr:hover{
  background: #ddeeffdd;
  font-weight: bolder;
} */
/* Job Apllications */




 /* Dashboard End */


 /* message */

.message{
  background: #fff;
  border-radius: .25rem;
  box-shadow: 1px 2px 0px -1px rgba(0, 0, 0, 0.308);
  }

.message h5{
  font-size: 24px;
  letter-spacing: -0.5px;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.message p{
  font-size: 15px;
  margin: 0;
}
.message .name{
  font-weight: 600;
}
.message .name {
  color: #046dd6;
  background: rgba(205, 225, 251, 0.5);
  padding: 10px;
  border-radius: 50px;
}
.message .date{
  color: rgba(252, 58, 58, 0.867);
}
.message .date i{
  color: rgba(252, 58, 58, 0.867);
  background: rgba(255, 219, 219, 0.5);
  padding: 10px;
  border-radius: 50px;
}
.message .mesage{
  padding: 40px 10px;
}
.message .email i, .message .phone i{
  color: rgb(128, 128, 128);
}
.message .email{
  color: rgb(128, 128, 128);
  /* color: rgba(58, 100, 252, 0.867); */
  background: rgba(221, 225, 255, 0.5);
  padding: 10px;
  border-radius: 50px;
}
.message .phone{
  text-align: center;
  color: rgb(128, 128, 128);
  /* color: #805bbe; */
  background: rgba(221, 225, 255, 0.5);
  /* background: rgba(237, 221, 255, 0.5); */
  padding: 10px;
  border-radius: 50px;
}
 /* message */


 /* Form */
 /* #formPost .formBg{
   background: #ccc;
   box-shadow: 0px 1px 5px -1px #000;
 } */
 #formPost .form-control:focus{
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
 }
 #formPost label{
   font-weight: bolder;
   /* color: #007bff; */
 }
#formPost .title:focus{
  box-shadow: none;
  border-bottom: 1px solid #007bff;
 }
#formPost .title{
  font-size: 24px;
  color: #121213;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
} 

 /* Form */