 .side-nav{    
   border-right: 1px solid #007bff;
 }
 
 .side-nav .far, .side-nav .fas,.side-nav .fab{
   font-size: 1.2rem;
   line-height: 2;
 }

 /* .side-nav .far, .side-nav .fas, .side-nav .fab{
   height: 40px;
   width: 40px;
   border-radius: 50%;
   background-color: rgba(0, 123, 255,0.15);
  text-align: center;
  line-height: 2;
 } */

 select option{
  text-transform: capitalize;
  padding: 1rem;
  color: #007bff;
 }